body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  background-color: #fff;
  color: #201600;
  line-height: 1.2;
}

body.overHide {
  overflow: hidden;
}

ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
  list-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #201600;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

ul:hover,
li:hover,
a:hover,
p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover {
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #201600;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

button span {
  font-family: 'Fira Sans', sans-serif;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

[id*='wrapper'] {
  position: relative;
}

.text,
.title {
  margin-bottom: 0;
}

.menu_overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu_overlay.onMenuOverShow {
  opacity: 1;
  z-index: 998;
}

.body_overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  visibility: hidden;
}

.body_overlay.onOverShow {
  opacity: 1;
  z-index: 998 !important;
  visibility: visible;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.body_overlay.onOverHeader {
  z-index: 999 !important;
}

.mobile_menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
  height: calc(100vh - 10px);
  background-color: #fff;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 999;
}

.mobile_menu.onShow {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile_menu .menu_container {
  position: relative;
  height: 100%;
}

.mobile_menu .menu_container .menu_header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.mobile_menu .menu_container .menu_header .menu_close,
.mobile_menu .menu_container .menu_header .menu_logo,
.mobile_menu .menu_container .menu_header .menu_search {
  cursor: pointer;
}

.mobile_menu .menu_container .menu_header .menu_logo {
  height: 50px;
}

.mobile_menu .menu_container .menu_header .menu_logo img {
  height: 100%;
}

.mobile_menu .menu_container .menu_body {
  overflow: auto;
  height: 100%;
  padding-top: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.mobile_menu .menu_container .menu_body .list_nav {
  margin: 15px 10px;
}

.mobile_menu .menu_container .menu_body .list_nav.list_footer {
  margin-top: 0;
}

.mobile_menu .menu_container .menu_body .list_nav.list_footer .list_item:last-child {
  padding-bottom: 0;
}

.mobile_menu .menu_container .menu_body .list_nav .list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;
}

.mobile_menu .menu_container .menu_body .list_nav .list_item:last-child {
  border-bottom: none;
}

.mobile_menu .menu_container .menu_body .list_nav .list_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile_menu .menu_container .menu_body .list_nav .list_item span,
.mobile_menu .menu_container .menu_body .list_nav .list_item a {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  pointer-events: none;
}

.mobile_menu .menu_container .menu_body .list_nav .list_item .arrow_container {
  pointer-events: none;
}

.mobile_menu .menu_container .menu_body .list_nav .list_item .arrow_container img {
  pointer-events: none;
}

.mobile_menu .menu_container .menu_body .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile_menu .menu_container .menu_body .btn_container .custom_btn {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #201600;
}

.category_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 5px;
  height: calc(100vh - 10px);
  background-color: #fff;
  -webkit-transform: translateX(210%);
          transform: translateX(210%);
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-transform 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.9s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 9999;
}

.category_menu.onCategoryShow {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.category_menu .category_container {
  height: 100%;
  overflow: auto;
}

.category_menu .category_container .category_header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.category_menu .category_container .category_header .menu_close,
.category_menu .category_container .category_header .menu_logo,
.category_menu .category_container .category_header .menu_search {
  cursor: pointer;
}

.category_menu .category_container .category_header .menu_logo {
  height: 50px;
}

.category_menu .category_container .category_header .menu_logo img {
  height: 100%;
}

.category_menu .category_container .category_header .menu_search.hide {
  opacity: 0;
  visibility: hidden;
}

.category_menu .category_container .category_body {
  padding-top: 71px;
}

.category_menu .category_container .category_body a {
  pointer-events: all !important;
}

.category_menu .category_container .category_body .row .col-6:nth-child(2n) {
  padding-left: 15px;
  padding-right: 10px;
}

.category_menu .category_container .category_body .row .col-6:nth-child(2n + 1) {
  padding-left: 10px;
  padding-right: 15px;
}

.category_menu .category_container .category_body .category_card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f6;
  margin: 15px 0;
  padding: 0;
  width: 100%;
  height: 160px;
}

.category_menu .category_container .category_body .category_card .category_image {
  width: 100%;
  height: 100%;
}

.category_menu .category_container .category_body .category_card .category_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.category_menu .category_container .category_body .category_card .category_name {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 0 10px;
}

.category_menu .category_container .category_body .category_card .category_name p {
  color: #201600;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.31px;
  text-align: center;
}

.category_menu .category_container .category_body .freq_questions {
  margin: 20px 10px;
}

.category_menu .category_container .category_body .freq_questions .list {
  margin-bottom: 40px;
}

.category_menu .category_container .category_body .freq_questions .list .list_title {
  margin-bottom: 25px;
}

.category_menu .category_container .category_body .freq_questions .list .list_title h1 {
  color: #201600;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.category_menu .category_container .category_body .freq_questions .list .list_item {
  border-bottom: none;
  padding-bottom: 0;
}

.category_menu .category_container .category_body .freq_questions .list .list_item a,
.category_menu .category_container .category_body .freq_questions .list .list_item p {
  color: #201600;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  pointer-events: all;
}

.category_menu .category_container .category_body .account_container {
  padding-top: 30px;
  margin: 0 10px;
}

.category_menu .category_container .category_body .account_container .form_container .form-group.last {
  padding-bottom: 30px;
  margin-bottom: 35px;
  border-bottom: 1px solid #e7e7e7;
}

.category_menu .category_container .category_body .account_container .form_container .form-group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category_menu .category_container .category_body .account_container .form_container .form-group label .text,
.category_menu .category_container .category_body .account_container .form_container .form-group label a {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
}

.category_menu .category_container .category_body .account_container .form_container .form-group label a {
  opacity: 0.4;
  width: auto;
}

.category_menu .category_container .category_body .account_container .form_container .form-group input {
  width: 100%;
  padding: 15px;
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #e7e7e7;
}

.category_menu .category_container .category_body .account_container .form_container .form-group input::-webkit-input-placeholder {
  color: #a6a299;
}

.category_menu .category_container .category_body .account_container .form_container .form-group input:-ms-input-placeholder {
  color: #a6a299;
}

.category_menu .category_container .category_body .account_container .form_container .form-group input::-ms-input-placeholder {
  color: #a6a299;
}

.category_menu .category_container .category_body .account_container .form_container .form-group input::placeholder {
  color: #a6a299;
}

.category_menu .category_container .category_body .account_container .form_container .bottom_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category_menu .category_container .category_body .account_container .form_container .bottom_submit .pass_forgot a {
  opacity: 0.4;
  color: #201600;
  font-size: 16px;
  font-weight: 300;
}

.category_menu .category_container .category_body .account_container .form_container .bottom_submit .btn_container .custom_btn {
  padding: 10px 55px;
  background-color: #201600;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.menu_search_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
  height: calc(100vh - 10px);
  background-color: #fff;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 9999;
}

.menu_search_container.onSearchShow {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu_search_container .search_header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.menu_search_container .search_header .menu_search_back,
.menu_search_container .search_header .menu_logo,
.menu_search_container .search_header .menu_search {
  cursor: pointer;
}

.menu_search_container .search_header .menu_logo {
  height: 50px;
}

.menu_search_container .search_header .menu_logo img {
  height: 100%;
}

.menu_search_container .search_header .menu_search {
  opacity: 0;
  visibility: hidden;
}

.menu_search_container .search_body {
  margin: 0 10px;
  padding-top: 71px;
}

.menu_search_container .search_body .group_form {
  position: relative;
  margin: 40px 0;
}

.menu_search_container .search_body .group_form .search_input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 5px;
  color: #201600;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}

.menu_search_container .search_body .group_form .search_input::-webkit-input-placeholder {
  opacity: 0.2;
}

.menu_search_container .search_body .group_form .search_input:-ms-input-placeholder {
  opacity: 0.2;
}

.menu_search_container .search_body .group_form .search_input::-ms-input-placeholder {
  opacity: 0.2;
}

.menu_search_container .search_body .group_form .search_input::placeholder {
  opacity: 0.2;
}

.menu_search_container .search_body .group_form .search_btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.menu_search_container .search_body .group_form .search_btn img {
  width: 100%;
}

.menu_search_container .search_body .samples_container .title {
  margin-bottom: 20px;
}

.menu_search_container .search_body .samples_container .title h1 {
  color: #201600;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.menu_search_container .search_body .samples_container .text p {
  color: #201600;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
}

.menu_search_container .search_body .samples_container .text p:last-child {
  margin-bottom: 0;
}

.desktop_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 9999;
  padding: 30px 0;
  background-color: #fff;
}

.desktop_menu.onMenuDesktopShow {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.desktop_menu.category_menu {
  margin: 0;
  height: auto;
  bottom: unset;
}

.desktop_menu.category_menu .category_container {
  padding: 0 20px;
}

.desktop_menu.category_menu .category_container .category_body {
  padding-top: 30px;
}

.desktop_menu.category_menu .category_container .category_body .freq_questions {
  margin: 0;
}

.desktop_menu.category_menu .category_container .category_body .freq_questions .list {
  margin-bottom: 0;
}

.desktop_menu.category_menu .category_container .category_body .freq_questions .list .list_item {
  margin-bottom: 10px;
}

.desktop_menu.category_menu .category_container .category_body .freq_questions .list .list_item a {
  font-weight: 400 !important;
}

.desktop_menu.menu_search_container {
  margin: 0;
  height: auto;
  bottom: unset;
}

.desktop_menu.menu_search_container .search_body {
  padding: 20px 0 0;
}

.desktop_menu.menu_search_container .search_body .group_form {
  margin-top: 0;
}

.desktop_menu.menu_search_container .search_body .samples_container {
  margin-top: 0;
}

.desktop_menu.account_container {
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  width: 100%;
  max-width: 510px;
  margin: 0 0 0 auto;
  z-index: -2;
  padding: 105px 10px 30px 10px;
}

.desktop_menu.account_container.onMenuDesktopShow {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.desktop_menu.account_container .desktop_menu_body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  z-index: 1;
}

.desktop_menu.account_container .desktop_menu_body.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

.desktop_menu.account_container .form_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  padding-bottom: 10px;
  background-color: #fff;
}

.desktop_menu.account_container .form_container.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.desktop_menu.account_container .form_container .form-group.last {
  padding-bottom: 30px;
  margin-bottom: 35px;
  border-bottom: 1px solid #e7e7e7;
}

.desktop_menu.account_container .form_container .form-group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop_menu.account_container .form_container .form-group label .text {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
}

.desktop_menu.account_container .form_container .form-group input {
  width: 100%;
  padding: 15px;
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #e7e7e7;
}

.desktop_menu.account_container .form_container .form-group input::-webkit-input-placeholder {
  color: #a6a299;
}

.desktop_menu.account_container .form_container .form-group input:-ms-input-placeholder {
  color: #a6a299;
}

.desktop_menu.account_container .form_container .form-group input::-ms-input-placeholder {
  color: #a6a299;
}

.desktop_menu.account_container .form_container .form-group input::placeholder {
  color: #a6a299;
}

.desktop_menu.account_container .form_container .bottom_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desktop_menu.account_container .form_container .bottom_submit .pass_forgot a {
  opacity: 0.4;
  color: #201600;
  font-size: 16px;
  font-weight: 300;
}

.desktop_menu.account_container .form_container .bottom_submit .btn_container .custom_btn {
  padding: 10px 55px;
  background-color: #201600;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.desktop_menu .container {
  position: relative;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
}

.desktop_menu .desktop_menu_header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.desktop_menu .desktop_menu_header .logo img {
  width: 140px;
  height: 40px;
}

.desktop_menu .desktop_menu_header .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.desktop_menu .desktop_menu_header .title h1 {
  color: #201600;
  font-size: 36px;
  font-weight: 400;
}

.desktop_menu .desktop_menu_header .close_icon {
  cursor: pointer;
}

.desktop_menu .desktop_menu_header .close_icon img {
  width: 20px;
  height: 20px;
}

.desktop_menu .desktop_menu_body .account_info {
  margin-bottom: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e7e7e7;
}

.desktop_menu .desktop_menu_body .account_info .text {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  cursor: default !important;
}

.desktop_menu .desktop_menu_body .bottom_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop_menu .desktop_menu_body .bottom_submit .auth a {
  opacity: 0.4;
  color: #201600;
  font-size: 16px;
  font-weight: 300;
}

.desktop_menu .desktop_menu_body .bottom_submit .btn_create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desktop_menu .desktop_menu_body .bottom_submit .btn_create .custom_btn {
  padding: 12px 40px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.desktop_menu .desktop_menu_body .category_block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 310px;
  max-width: 310px;
  margin: 0 auto 30px auto;
  background-color: #f3f3f6;
}

.desktop_menu .desktop_menu_body .category_block .product_image {
  width: 100%;
  height: 100%;
}

.desktop_menu .desktop_menu_body .category_block .product_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.desktop_menu .desktop_menu_body .category_block .product_name {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 15px;
}

.desktop_menu .desktop_menu_body .category_block .product_name p {
  color: #201600;
  font-size: 20px;
  font-weight: 400 !important;
  letter-spacing: 0.42px;
}

.desktop_menu .desktop_menu_body .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.desktop_menu .desktop_menu_body .btn_container .custom_btn {
  padding: 8px 10px;
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #201600;
}

.cart_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 5px;
  padding: 0 0 20px 0;
  height: calc(100vh - 10px);
  background-color: #fff;
  -webkit-transform: translateY(-105%);
          transform: translateY(-105%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 999;
  overflow: hidden;
}

.cart_menu.cartShow {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cart_menu .cart_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px 10px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
  z-index: 1;
}

.cart_menu .cart_header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cart_menu .cart_header .logo img {
  height: 50px;
}

.cart_menu .cart_header .cart_close {
  cursor: pointer;
}

.cart_menu .cart_form_container {
  padding: 80px 10px 0 10px;
  overflow: auto;
  height: 100%;
}

.cart_menu .cart_body .products_cart_container {
  padding: 20px 0;
  border-bottom: 1px solid #e7e7e7;
}

.cart_menu .cart_body .products_cart_container .product_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.cart_menu .cart_body .products_cart_container .product_block .product_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.cart_menu .cart_body .products_cart_container .product_block .product_info .product_image {
  height: 100%;
  margin-right: 15px;
}

.cart_menu .cart_body .products_cart_container .product_block .product_info .product_image img {
  width: 60px;
  height: 100%;
}

.cart_menu .cart_body .products_cart_container .product_block .product_info .product_about .text {
  font-size: 13px;
}

.cart_menu .cart_body .products_cart_container .product_block .remove_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart_menu .cart_body .products_cart_container .product_block .remove_block .product_price {
  margin-bottom: 5px;
}

.cart_menu .cart_body .products_cart_container .product_block .remove_block .product_price .text {
  font-size: 13px;
  font-weight: 700;
}

.cart_menu .cart_body .products_cart_container .product_block .remove_block .remove_btn {
  cursor: pointer;
}

.cart_menu .cart_body .products_cart_container .product_block .remove_block .remove_btn span {
  opacity: 0.4;
  font-size: 13px;
  font-weight: 300;
}

.cart_menu .cart_body .sum_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e7e7e7;
}

.cart_menu .cart_body .sum_container .text {
  font-size: 16px;
}

.cart_menu .cart_body .sum_container .sum_all p,
.cart_menu .cart_body .sum_container .sum_all span {
  font-size: 13px;
  font-weight: 700;
}

.cart_menu .cart_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.cart_menu .cart_footer .link a {
  opacity: 0.4;
  font-size: 15px;
  font-weight: 300;
}

.cart_menu .cart_footer .custom_btn .my_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 11px 20px;
  color: #fff;
  background-color: #000;
  font-size: 15px;
}

@media (min-width: 576px) {
  .mobile_menu {
    margin: 10px;
    height: calc(100vh - 20px);
  }
  .mobile_menu .menu_container .menu_header {
    padding: 15px 35px;
    z-index: 999;
  }
  .mobile_menu .menu_container .menu_body {
    padding-top: 81px;
  }
  .mobile_menu .menu_container .menu_body .row {
    height: 100%;
  }
  .mobile_menu .menu_container .menu_body .left_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    border-right: 1px solid #e7e7e7;
    height: 100%;
    overflow: auto;
  }
  .mobile_menu .menu_container .menu_body .left_bar .list_nav {
    margin: 30px 15px 0 35px;
  }
  .mobile_menu .menu_container .menu_body .left_bar .list_nav.list_footer {
    margin-top: 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .mobile_menu .menu_container .menu_body .left_bar .list_nav.list_footer .list_item:last-child {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .mobile_menu .menu_container .menu_body .left_bar .list_nav .list_item {
    border-bottom: none;
    cursor: pointer;
  }
  .mobile_menu .menu_container .menu_body .left_bar .list_nav .list_item:last-child {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .mobile_menu .menu_container .menu_body .left_bar .list_nav .list_item .arrow_container {
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  .mobile_menu .menu_container .menu_body .left_bar .list_nav .list_item .arrow_container.rotate {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .mobile_menu .menu_container .menu_body .right_bar {
    overflow: auto;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu {
    -webkit-transform: none;
            transform: none;
    position: absolute;
    height: auto;
    margin: 0;
    padding: 30px 15px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-out;
    transition: opacity 0.8s ease-out;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu.account {
    padding: 30px 15px 0 15px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu.categShow {
    position: relative;
    opacity: 1;
    z-index: 2;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container {
    height: auto;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body {
    padding-top: 0;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .row .col-6:nth-child(2n) {
    padding-left: 10px;
    padding-right: 0;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .row .col-6:nth-child(2n + 1) {
    padding-left: 0;
    padding-right: 10px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .category_card {
    margin: 0 0 30px 0;
    height: 150px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .freq_questions {
    margin: 0;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .freq_questions .list {
    margin-bottom: 45px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .freq_questions .list .list_title {
    margin-bottom: 20px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .freq_questions .list .list_item {
    margin-bottom: 5px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .freq_questions .list .list_item a,
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .freq_questions .list .list_item p {
    margin-bottom: 0;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .account_container {
    margin: 0;
    padding-top: 0;
  }
  .mobile_menu .menu_container .menu_body .right_bar .btn_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile_menu .menu_container .menu_body .right_bar .btn_container .custom_btn {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #201600;
  }
  .menu_search_container {
    margin: 10px;
    height: calc(100vh - 20px);
  }
  .menu_search_container .search_header {
    padding: 15px 35px;
  }
  .menu_search_container .search_body {
    margin: 0;
    padding-top: 81px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .menu_search_container .search_body .group_form {
    margin: 40px 0;
    width: 100%;
    max-width: 445px;
  }
  .menu_search_container .search_body .group_form .search_input {
    font-size: 30px;
    line-height: 22px;
  }
  .cart_menu {
    margin: 10px;
    height: calc(100vh - 20px);
    padding-bottom: 30px;
  }
  .cart_menu .cart_header {
    padding-left: 35px;
    padding-right: 35px;
  }
  .cart_menu .cart_form_container {
    padding-left: 35px;
    padding-right: 35px;
  }
  .cart_menu .cart_body .products_cart_container .product_block {
    margin-bottom: 30px;
  }
  .cart_menu .cart_body .products_cart_container .product_block .product_info .product_image img {
    width: 80px;
  }
  .cart_menu .cart_body .products_cart_container .product_block .product_info .product_about .text {
    font-size: 16px;
  }
  .cart_menu .cart_body .products_cart_container .product_block .remove_block .product_price .text {
    font-size: 16px;
  }
  .cart_menu .cart_body .products_cart_container .product_block .remove_block .remove_btn span {
    font-size: 15px;
  }
  .cart_menu .cart_body .sum_container {
    padding: 30px 0;
  }
  .cart_menu .cart_body .sum_container .sum_all .text,
  .cart_menu .cart_body .sum_container .sum_all span {
    font-size: 16px;
  }
  .cart_menu .cart_footer {
    padding-top: 30px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .cart_menu .cart_footer .link {
    margin-right: 30px;
  }
  .cart_menu .cart_footer .link a {
    font-size: 16px;
  }
  .cart_menu .cart_footer .custom_btn .my_btn {
    padding: 15px 40px;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .mobile_menu {
    margin: 15px;
    height: calc(100vh - 30px);
  }
  .mobile_menu .menu_container .menu_header {
    padding: 15px 25px;
  }
  .mobile_menu .menu_container .menu_body .left_bar .list_nav {
    margin-left: 25px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu {
    padding: 30px 18px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu.account {
    padding: 30px 55px 0 55px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container {
    margin-bottom: 10px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .row .col-sm-6:nth-child(2n) {
    padding-left: 12px;
    padding-right: 12px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .row .col-sm-6:nth-child(2n + 1) {
    padding-left: 12px;
    padding-right: 12px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .freq_questions {
    padding: 0 12px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .account_container .form_container .bottom_submit .btn_container .custom_btn {
    padding: 10px 80px;
  }
  .menu_search_container {
    margin: 15px;
    height: calc(100vh - 30px);
  }
  .cart_menu {
    margin: 15px;
    height: calc(100vh - 30px);
  }
  .cart_menu .cart_header {
    padding-left: 25px;
    padding-right: 25px;
  }
  .cart_menu .cart_form_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 992px) {
  .mobile_menu .menu_container .menu_header {
    padding: 15px 30px;
  }
  .mobile_menu .menu_container .menu_body .left_bar .list_nav {
    margin-left: 30px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu {
    padding: 30px 20px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu.account {
    padding: 30px 30px 0 30px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container {
    margin-bottom: 0px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .category_card {
    height: 170px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .row .col-sm-6:nth-child(2n) {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .row .col-sm-6:nth-child(2n + 1) {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .freq_questions {
    padding: 0;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .freq_questions .row [class*='col'] {
    padding: 0 13px !important;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .account_container .form_container {
    width: 100%;
    max-width: 450px;
  }
  .mobile_menu .menu_container .menu_body .right_bar .category_menu .category_container .category_body .account_container .form_container .bottom_submit .btn_container .custom_btn {
    padding: 10px 80px;
  }
  .menu_search_container .search_header {
    padding: 20px 40px;
  }
  .menu_search_container .search_body .row [class*='col']:nth-child(2n) {
    padding-left: 18px !important;
  }
  .menu_search_container .search_body .row [class*='col']:nth-child(2n + 1) {
    padding-right: 18px !important;
  }
  .menu_search_container .search_body .group_form {
    margin-top: 60px;
    max-width: 100%;
  }
  .menu_search_container .search_body .group_form .search_input {
    padding-left: 10px;
  }
  .menu_search_container .search_body .samples_container {
    margin-top: 60px;
  }
  .cart_menu .cart_header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .cart_menu .cart_form_container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1200px) {
  .cart_menu {
    margin: 0 0 0 auto;
    width: 100%;
    max-width: 40%;
    bottom: auto;
    height: 100vh;
  }
  .cart_menu .cart_header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .cart_menu .cart_form_container {
    padding-left: 32px;
    padding-right: 32px;
    overflow: auto;
    height: 100%;
  }
  .cart_menu .cart_footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=default.css.map */