#wrapper-main header,
#wrapper-products-list header,
#wrapper-cart header,
#wrapper-ordering header,
#wrapper-product-selected header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  margin: 10px 10px 0 10px;
  border: 1px solid transparent;
}

#wrapper-main header.active,
#wrapper-products-list header.active,
#wrapper-cart header.active,
#wrapper-ordering header.active,
#wrapper-product-selected header.active {
  position: fixed;
  border: 1px solid #c0c0c0;
  background-color: rgba(255, 255, 255, 0.94);
}

#wrapper-main header.active .header_mobile .header_container,
#wrapper-products-list header.active .header_mobile .header_container,
#wrapper-cart header.active .header_mobile .header_container,
#wrapper-ordering header.active .header_mobile .header_container,
#wrapper-product-selected header.active .header_mobile .header_container {
  padding: 10px 0;
}

#wrapper-main header .header_mobile .header_container,
#wrapper-products-list header .header_mobile .header_container,
#wrapper-cart header .header_mobile .header_container,
#wrapper-ordering header .header_mobile .header_container,
#wrapper-product-selected header .header_mobile .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

#wrapper-main header .header_mobile .header_container .hamb_menu,
#wrapper-products-list header .header_mobile .header_container .hamb_menu,
#wrapper-cart header .header_mobile .header_container .hamb_menu,
#wrapper-ordering header .header_mobile .header_container .hamb_menu,
#wrapper-product-selected header .header_mobile .header_container .hamb_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

#wrapper-main header .header_mobile .header_container .hamb_menu span,
#wrapper-products-list header .header_mobile .header_container .hamb_menu span,
#wrapper-cart header .header_mobile .header_container .hamb_menu span,
#wrapper-ordering header .header_mobile .header_container .hamb_menu span,
#wrapper-product-selected header .header_mobile .header_container .hamb_menu span {
  display: block;
  height: 2px;
  width: 25px;
  background-color: #000;
  margin-bottom: 5px;
}

#wrapper-main header .header_mobile .header_container .hamb_menu span:last-child,
#wrapper-products-list header .header_mobile .header_container .hamb_menu span:last-child,
#wrapper-cart header .header_mobile .header_container .hamb_menu span:last-child,
#wrapper-ordering header .header_mobile .header_container .hamb_menu span:last-child,
#wrapper-product-selected header .header_mobile .header_container .hamb_menu span:last-child {
  margin-bottom: 0;
}

#wrapper-main header .header_mobile .header_container .logo,
#wrapper-products-list header .header_mobile .header_container .logo,
#wrapper-cart header .header_mobile .header_container .logo,
#wrapper-ordering header .header_mobile .header_container .logo,
#wrapper-product-selected header .header_mobile .header_container .logo {
  width: 140px;
  height: 50px;
}

#wrapper-main header .header_mobile .header_container .logo img,
#wrapper-products-list header .header_mobile .header_container .logo img,
#wrapper-cart header .header_mobile .header_container .logo img,
#wrapper-ordering header .header_mobile .header_container .logo img,
#wrapper-product-selected header .header_mobile .header_container .logo img {
  width: 100%;
  height: 100%;
}

#wrapper-main header .header_mobile .header_container .cart_container,
#wrapper-products-list header .header_mobile .header_container .cart_container,
#wrapper-cart header .header_mobile .header_container .cart_container,
#wrapper-ordering header .header_mobile .header_container .cart_container,
#wrapper-product-selected header .header_mobile .header_container .cart_container {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #201600;
  border-radius: 50%;
}

#wrapper-main header .header_mobile .header_container .cart_container a,
#wrapper-products-list header .header_mobile .header_container .cart_container a,
#wrapper-cart header .header_mobile .header_container .cart_container a,
#wrapper-ordering header .header_mobile .header_container .cart_container a,
#wrapper-product-selected header .header_mobile .header_container .cart_container a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper-main header .header_mobile .header_container .cart_container a .goods_count,
#wrapper-products-list header .header_mobile .header_container .cart_container a .goods_count,
#wrapper-cart header .header_mobile .header_container .cart_container a .goods_count,
#wrapper-ordering header .header_mobile .header_container .cart_container a .goods_count,
#wrapper-product-selected header .header_mobile .header_container .cart_container a .goods_count {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.22px;
  line-height: 1.1;
}

#wrapper-main footer,
#wrapper-products-list footer,
#wrapper-cart footer,
#wrapper-ordering footer,
#wrapper-product-selected footer {
  background-color: #000;
  padding-top: 60px;
}

#wrapper-main footer .copyright_text p,
#wrapper-products-list footer .copyright_text p,
#wrapper-cart footer .copyright_text p,
#wrapper-ordering footer .copyright_text p,
#wrapper-product-selected footer .copyright_text p {
  color: #c0c0c0;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  text-align: center;
  padding-bottom: 15px;
}

#wrapper-main footer .copyright_text p a,
#wrapper-products-list footer .copyright_text p a,
#wrapper-cart footer .copyright_text p a,
#wrapper-ordering footer .copyright_text p a,
#wrapper-product-selected footer .copyright_text p a {
  color: #c0c0c0;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
}

#wrapper-main footer .left_block,
#wrapper-products-list footer .left_block,
#wrapper-cart footer .left_block,
#wrapper-ordering footer .left_block,
#wrapper-product-selected footer .left_block {
  margin-bottom: 60px;
}

#wrapper-main footer .left_block .logo,
#wrapper-products-list footer .left_block .logo,
#wrapper-cart footer .left_block .logo,
#wrapper-ordering footer .left_block .logo,
#wrapper-product-selected footer .left_block .logo {
  width: 140px;
  height: 50px;
  margin: 0 auto 20px auto;
}

#wrapper-main footer .left_block .logo img,
#wrapper-products-list footer .left_block .logo img,
#wrapper-cart footer .left_block .logo img,
#wrapper-ordering footer .left_block .logo img,
#wrapper-product-selected footer .left_block .logo img {
  height: 100%;
}

#wrapper-main footer .left_block .text_about,
#wrapper-products-list footer .left_block .text_about,
#wrapper-cart footer .left_block .text_about,
#wrapper-ordering footer .left_block .text_about,
#wrapper-product-selected footer .left_block .text_about {
  width: 100%;
  max-width: 240px;
  margin: 0 auto 20px auto;
}

#wrapper-main footer .left_block .text_about p,
#wrapper-products-list footer .left_block .text_about p,
#wrapper-cart footer .left_block .text_about p,
#wrapper-ordering footer .left_block .text_about p,
#wrapper-product-selected footer .left_block .text_about p {
  color: #c0c0c0;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  text-align: center;
}

#wrapper-main footer .left_block .socials_container,
#wrapper-products-list footer .left_block .socials_container,
#wrapper-cart footer .left_block .socials_container,
#wrapper-ordering footer .left_block .socials_container,
#wrapper-product-selected footer .left_block .socials_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper-main footer .left_block .socials_container a,
#wrapper-products-list footer .left_block .socials_container a,
#wrapper-cart footer .left_block .socials_container a,
#wrapper-ordering footer .left_block .socials_container a,
#wrapper-product-selected footer .left_block .socials_container a {
  margin-right: 30px;
}

#wrapper-main footer .left_block .socials_container a:last-child,
#wrapper-products-list footer .left_block .socials_container a:last-child,
#wrapper-cart footer .left_block .socials_container a:last-child,
#wrapper-ordering footer .left_block .socials_container a:last-child,
#wrapper-product-selected footer .left_block .socials_container a:last-child {
  margin-right: 0;
}

#wrapper-main footer .right_block .list_title,
#wrapper-products-list footer .right_block .list_title,
#wrapper-cart footer .right_block .list_title,
#wrapper-ordering footer .right_block .list_title,
#wrapper-product-selected footer .right_block .list_title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#wrapper-main footer .right_block .list_container,
#wrapper-products-list footer .right_block .list_container,
#wrapper-cart footer .right_block .list_container,
#wrapper-ordering footer .right_block .list_container,
#wrapper-product-selected footer .right_block .list_container {
  margin-bottom: 60px;
}

#wrapper-main footer .right_block .list_container .nav_list.first_child,
#wrapper-products-list footer .right_block .list_container .nav_list.first_child,
#wrapper-cart footer .right_block .list_container .nav_list.first_child,
#wrapper-ordering footer .right_block .list_container .nav_list.first_child,
#wrapper-product-selected footer .right_block .list_container .nav_list.first_child {
  margin-bottom: 15px;
}

#wrapper-main footer .right_block .list_container .nav_list .list_item,
#wrapper-products-list footer .right_block .list_container .nav_list .list_item,
#wrapper-cart footer .right_block .list_container .nav_list .list_item,
#wrapper-ordering footer .right_block .list_container .nav_list .list_item,
#wrapper-product-selected footer .right_block .list_container .nav_list .list_item {
  text-align: center;
  margin-bottom: 15px;
}

#wrapper-main footer .right_block .list_container .nav_list .list_item:last-child,
#wrapper-products-list footer .right_block .list_container .nav_list .list_item:last-child,
#wrapper-cart footer .right_block .list_container .nav_list .list_item:last-child,
#wrapper-ordering footer .right_block .list_container .nav_list .list_item:last-child,
#wrapper-product-selected footer .right_block .list_container .nav_list .list_item:last-child {
  margin-bottom: 0;
}

#wrapper-main footer .right_block .list_container .nav_list .list_item a,
#wrapper-main footer .right_block .list_container .nav_list .list_item p,
#wrapper-products-list footer .right_block .list_container .nav_list .list_item a,
#wrapper-products-list footer .right_block .list_container .nav_list .list_item p,
#wrapper-cart footer .right_block .list_container .nav_list .list_item a,
#wrapper-cart footer .right_block .list_container .nav_list .list_item p,
#wrapper-ordering footer .right_block .list_container .nav_list .list_item a,
#wrapper-ordering footer .right_block .list_container .nav_list .list_item p,
#wrapper-product-selected footer .right_block .list_container .nav_list .list_item a,
#wrapper-product-selected footer .right_block .list_container .nav_list .list_item p {
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
}

#wrapper-main {
  background-color: #fff;
}

#wrapper-main main .section_slide .bg_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
}

#wrapper-main main .section_slide .bg_overlay.remove {
  display: none;
}

#wrapper-main main .section_slide .main-carousel {
  height: 100vh;
}

#wrapper-main main .section_slide .main-carousel .carousel-cell {
  position: relative;
  width: 100%;
  height: 100%;
}

#wrapper-main main .section_slide .main-carousel .carousel-cell .image_container {
  width: 100%;
  height: 100%;
}

#wrapper-main main .section_slide .main-carousel .carousel-cell .image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  padding: 0 10px;
  text-align: center;
  width: 100%;
  max-width: 365px;
  margin: 0 auto;
}

#wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text .title {
  font-size: 30px;
  font-weight: 400;
}

#wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text .sub_title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

#wrapper-main main .section_slide .main-carousel .flickity-prev-next-button {
  top: unset;
  bottom: 30px;
  width: 40px;
  height: 40px;
  -webkit-transform: none;
          transform: none;
}

#wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.flickity-button {
  background: #201600;
}

#wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.next {
  right: 35%;
}

#wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.previous {
  left: 35%;
}

#wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.previous:before {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
}

#wrapper-main main .section_slide .main-carousel .flickity-prev-next-button:before {
  content: '';
  display: block;
  width: 10px;
  height: 16px;
  background: url("../assets/images/main/chevron_right -light-copy.svg") no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#wrapper-main main .section_slide .main-carousel .flickity-prev-next-button .flickity-button-icon {
  display: none;
}

#wrapper-main main .section_second_slide {
  padding: 60px 0;
}

#wrapper-main main .section_second_slide .slide_container.news {
  margin-bottom: 60px;
}

#wrapper-main main .section_second_slide .slide_container .slide_title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
  margin-left: 15px;
}

#wrapper-main main .section_second_slide .slide_container .products-news-carousel .carousel-cell {
  width: 240px;
  margin-right: 20px;
}

#wrapper-main main .section_second_slide .slide_container .products-news-carousel .carousel-cell .image_container {
  width: 100%;
  height: 240px;
}

#wrapper-main main .section_second_slide .slide_container .products-news-carousel .carousel-cell .image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button {
  top: -28%;
  -webkit-transform: none;
          transform: none;
  background: transparent;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button:hover {
  background-color: rgba(32, 22, 0, 0.08);
}

#wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.next {
  right: 15px;
}

#wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.previous {
  left: unset;
  right: 17%;
}

#wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.previous:before {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
}

#wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button:before {
  content: '';
  display: block;
  width: 10px;
  height: 16px;
  background: url("../assets/images/main/chevron_right - dark-copy.svg") no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button .flickity-button-icon {
  display: none;
}

#wrapper-main main .section_categories {
  padding-bottom: 60px;
}

#wrapper-main main .section_categories .categ_product_block {
  position: relative;
  padding: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

#wrapper-main main .section_categories .categ_product_block.rings {
  background-color: #a5b8c4;
}

#wrapper-main main .section_categories .categ_product_block.rings .bottom_img.left {
  left: -35px;
}

#wrapper-main main .section_categories .categ_product_block.rings .bottom_img.right {
  right: -65px;
}

#wrapper-main main .section_categories .categ_product_block.rings .bottom_img img {
  top: unset;
  bottom: 0;
  -webkit-transform: none;
          transform: none;
}

#wrapper-main main .section_categories .categ_product_block.chains {
  background-color: #c3a4c2;
}

#wrapper-main main .section_categories .categ_product_block.chains .inner_block {
  padding: 45px 15px;
  text-align: left;
}

#wrapper-main main .section_categories .categ_product_block.earrings {
  background-color: #a4adc3;
}

#wrapper-main main .section_categories .categ_product_block.earrings .inner_block {
  text-align: right;
  padding: 45px 15px;
}

#wrapper-main main .section_categories .categ_product_block.pendants {
  background-color: #a6a4c3;
}

#wrapper-main main .section_categories .categ_product_block.pendants .inner_block {
  padding: 45px 15px;
  text-align: left;
}

#wrapper-main main .section_categories .categ_product_block.brilliants {
  background-color: #c3b8a4;
}

#wrapper-main main .section_categories .categ_product_block.crosses {
  background-color: #b7c3a4;
}

#wrapper-main main .section_categories .categ_product_block.crosses .inner_block {
  padding: 45px 15px;
  text-align: right;
}

#wrapper-main main .section_categories .categ_product_block.biju {
  background-color: #c3a9a4;
}

#wrapper-main main .section_categories .categ_product_block.biju .inner_block {
  padding: 45px 15px;
  text-align: left;
}

#wrapper-main main .section_categories .categ_product_block.pins {
  background-color: #a0a6aa;
}

#wrapper-main main .section_categories .categ_product_block .bg_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: url("../assets/images/main/Bitmap.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.06;
}

#wrapper-main main .section_categories .categ_product_block .bottom_img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#wrapper-main main .section_categories .categ_product_block .bottom_img.left {
  right: unset;
  left: 10%;
}

#wrapper-main main .section_categories .categ_product_block .bottom_img.left img {
  left: 0;
}

#wrapper-main main .section_categories .categ_product_block .bottom_img.right {
  left: unset;
  right: 10%;
}

#wrapper-main main .section_categories .categ_product_block .bottom_img.right img {
  right: 0;
}

#wrapper-main main .section_categories .categ_product_block .bottom_img.center img {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#wrapper-main main .section_categories .categ_product_block .bottom_img img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#wrapper-main main .section_categories .categ_product_block .inner_block {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border: 6px solid #ffffff;
  padding: 35px 0;
  text-align: center;
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container {
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container.to-left {
  margin: 0 auto 0 0;
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container.to-right {
  margin: 0 0 0 auto;
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .title {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin-bottom: 10px;
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .text {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.58px;
  margin-bottom: 15px;
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container.to-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container.to-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container a {
  position: relative;
  padding: 10px 40px;
  background-color: #fff;
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container a:hover:after {
  opacity: 1;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background: url("../assets/images/main/arrow-forward-dark.svg") no-repeat;
  width: 16px;
  height: 16px;
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container a span {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.17px;
}

#wrapper-main main .section_about_info {
  padding-bottom: 60px;
}

#wrapper-main main .section_about_info .text_info {
  position: relative;
  height: 100%;
  max-height: 430px;
  overflow: hidden;
  -webkit-transition: max-height 4s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: max-height 4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#wrapper-main main .section_about_info .text_info.onFullShow {
  max-height: 1000px;
}

#wrapper-main main .section_about_info .text_info.onFullShow:after {
  opacity: 0;
}

#wrapper-main main .section_about_info .text_info:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  height: 100px;
  z-index: 2;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

#wrapper-main main .section_about_info .text_info .title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  max-width: 375px;
  margin: 0 auto 20px auto;
}

#wrapper-main main .section_about_info .text_info .text {
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  margin-bottom: 30px;
}

#wrapper-main main .section_about_info .text_info .text:last-child {
  margin-bottom: 0;
}

#wrapper-main main .section_about_info .btn_container {
  width: 100%;
  max-width: 240px;
  margin: 30px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #000;
}

#wrapper-main main .section_about_info .btn_container .my_btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.33px;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#wrapper-products-list {
  background-color: #fff;
}

#wrapper-products-list main {
  margin-top: 130px;
  margin-bottom: 75px;
}

#wrapper-products-list main .section_products_list .product_block .product_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f6;
  height: 160px;
  margin-bottom: 10px;
}

#wrapper-products-list main .section_products_list .product_block .product_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#wrapper-products-list main .section_products_list .product_block .product_info .product_text.price .text {
  font-weight: 300;
}

#wrapper-products-list main .section_products_list .product_block .product_info .product_text .text {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.67px;
  text-align: center;
}

#wrapper-products-list main .section_products_list .section_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

#wrapper-products-list main .section_products_list .section_title .category_title {
  font-size: 36px;
  font-weight: 400;
}

#wrapper-products-list main .section_products_list .section_title .filters_btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 18px;
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  cursor: pointer;
}

#wrapper-products-list main .section_products_list .section_title .filters_btn_container .inner_text {
  font-size: 16px;
  margin-right: 10px;
}

#wrapper-products-list main .section_products_list .section_title .filters_btn_container .filter_img img {
  width: 100%;
  height: 100%;
}

#wrapper-products-list main .section_products_list .sub_categories_list .row [class*='col'] {
  margin-bottom: 40px;
}

#wrapper-products-list main .section_products_list .sub_categories_list .row [class*='col']:nth-child(odd) {
  padding-left: 0;
}

#wrapper-products-list main .section_products_list .sub_categories_list .row [class*='col']:nth-child(even) {
  padding-right: 0;
}

#wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block {
  position: relative;
  background-color: #f3f3f6;
  height: 160px;
}

#wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_image {
  height: 100%;
  width: 100%;
}

#wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

#wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_text .text {
  font-size: 14px;
  letter-spacing: 0.29px;
  text-align: center;
}

#wrapper-products-list main .section_products_list .product_about .row [class*='col'] {
  margin-bottom: 30px;
}

#wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(1) {
  margin-bottom: 55px;
}

#wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(2) {
  margin-bottom: 55px;
}

#wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(odd) {
  padding-left: 0;
}

#wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(even) {
  padding-right: 0;
}

#wrapper-products-list main .section_products_list .product_about .product_about_image {
  height: 100%;
  background-color: #a5b8c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper-products-list main .section_products_list .product_about .product_about_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#wrapper-products-list main .section_products_list .product_about .product_about_text {
  padding: 12px 0;
}

#wrapper-products-list main .section_products_list .product_about .product_about_text .text {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.44px;
}

#wrapper-products-list main .section_products_list .products_container .row [class*='col'] {
  margin-bottom: 30px;
}

#wrapper-products-list main .section_products_list .products_container .row [class*='col']:nth-child(odd) {
  padding-left: 0;
}

#wrapper-products-list main .section_products_list .products_container .row [class*='col']:nth-child(even) {
  padding-right: 0;
}

#wrapper-products-list main .section_products_list .pagination_nav {
  padding: 0 35px;
}

#wrapper-products-list main .section_products_list .pagination_nav .pagination_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper-products-list main .section_products_list .pagination_nav .pagination_container .arrow_container.arrow_prev {
  margin-right: 20px;
}

#wrapper-products-list main .section_products_list .pagination_nav .pagination_container .pag_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper-products-list main .section_products_list .pagination_nav .pagination_container .pag_list .pag_item {
  margin-right: 20px;
}

#wrapper-products-list main .section_products_list .pagination_nav .pagination_container .pag_list .pag_item.active .page_numb {
  text-decoration: underline;
}

#wrapper-products-list main .section_products_list .pagination_nav .pagination_container .pag_list .pag_item .page_numb,
#wrapper-products-list main .section_products_list .pagination_nav .pagination_container .pag_list .pag_item .page_dots {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.8px;
}

#wrapper-products-list main .filters_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  margin: 5px;
  height: calc(100vh - 10px);
  background-color: #fff;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  overflow: hidden;
  z-index: 9999;
}

#wrapper-products-list main .filters_menu.filtersShow {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#wrapper-products-list main .filters_menu .filters_container {
  padding-top: 75px;
  overflow: auto;
  height: 100%;
}

#wrapper-products-list main .filters_menu .filters_container .filters_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

#wrapper-products-list main .filters_menu .filters_container .filters_header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
}

#wrapper-products-list main .filters_menu .filters_container .filters_header .logo img {
  height: 100%;
}

#wrapper-products-list main .filters_menu .filters_container .filters_header .close_filters {
  cursor: pointer;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body {
  background-color: #fff;
  padding: 30px 0;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block {
  margin-bottom: 55px;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block.price .inputs_container {
  margin-top: 10px;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block.price .inputs_container .form-group {
  width: 100%;
  max-width: 80%;
  margin: 0 0 0 auto;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .title {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container.sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .inputs_row {
  margin-right: 40px;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .inputs_row:last-child {
  margin-right: 0;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group {
  margin-bottom: 10px;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group .check_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 0;
  padding-left: 0;
  cursor: pointer;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group .check_container.active {
  padding-left: 12px;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group .check_container input {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group .check_container input:checked ~ .checkmark {
  background-color: #000;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group .check_container .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 5px;
  width: 5px;
  background-color: transparent;
  border-radius: 100%;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group #slider-range {
  width: 100%;
  background-color: #f3f3f6;
  border-radius: 3px;
  border: none;
  height: 5px;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group #slider-range .ui-slider-range {
  background-color: #000;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group #slider-range .ui-slider-handle {
  border: 1px solid #000;
  background-color: #000;
  border-radius: 100%;
  width: 16px;
  height: 16px;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group #slider-range .ui-slider-handle:focus {
  outline: none;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group .bottom_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group .bottom_inputs .price-range-field {
  width: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.8px;
  text-decoration: underline;
  font-family: "Fira Sans";
  color: #201600;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group .bottom_inputs #min_price {
  text-align: left;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block .inputs_container .form-group .bottom_inputs #max_price {
  text-align: right;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 160px;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row .btn_container .my_btn {
  padding: 15px 30px;
  background-color: #fff;
  color: #201600;
  font-size: 16px;
  letter-spacing: 1.33px;
  border: 1px solid #000;
  width: 100%;
}

#wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row .btn_container .my_btn.black {
  background-color: #000;
  color: #fff;
}

#wrapper-cart {
  background-color: #fff;
}

#wrapper-cart main {
  padding: 100px 0 60px 0;
}

#wrapper-cart main .section_cart .section_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#wrapper-cart main .section_cart .section_title .title {
  font-size: 36px;
  margin-bottom: 10px;
}

#wrapper-cart main .section_cart .section_title .back_to_shop a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 300;
}

#wrapper-cart main .section_cart .section_title .back_to_shop a span {
  margin-right: 10px;
}

#wrapper-cart main .section_cart .cart_detailed_block {
  padding-top: 80px;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 3px solid #201600;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_header .text {
  font-size: 16px;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body {
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e7e7e7;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 60%;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block .product_img {
  height: 60px;
  margin-right: 10px;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block .product_img img {
  height: 100%;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block .product_text .text {
  font-size: 14px;
  font-weight: 300;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_right_block .product_price .text {
  font-size: 14px;
  font-weight: 300;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_right_block .product_remove .remove_btn {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.4;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .form-group {
  margin-bottom: 0;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group label {
  font-size: 14px;
  margin-right: 15px;
  margin-bottom: 0;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group .input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group .input_container .button {
  cursor: pointer;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group .input_container .button span {
  display: none;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group .input_container .input_number {
  border: none;
  text-align: center;
  font-size: 14px;
  margin: 0 8px;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group .input_container .input_number::-webkit-inner-spin-button, #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group .input_container .input_number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group label {
  font-size: 14px;
  margin-right: 15px;
  margin-bottom: 0;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper select {
  display: none;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  line-height: normal;
  color: #495057;
  vertical-align: middle;
  background: none;
  border: none;
  border-radius: 0;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select.opened .custom-select-trigger:after {
  margin-top: 0px;
  -webkit-transform: rotate(-135deg) translateY(-50%);
          transform: rotate(-135deg) translateY(-50%);
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-select-trigger {
  position: relative;
  display: block;
  width: 60px;
  padding: 5px 0 5px 18px;
  font-size: 16px;
  color: #201600;
  background: #fff;
  border-radius: 0;
  border: 1px solid #e7e7e7;
  cursor: pointer;
  text-align: left;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  border-bottom: 2px solid #201600;
  border-right: 2px solid #201600;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  height: 100%;
  min-height: 225px;
  overflow: auto;
  margin: 0;
  border: 1px solid #e7e7e7;
  border-top: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  z-index: 1;
  /* width */
  /* Track */
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-options::-webkit-scrollbar {
  width: 3px;
  position: absolute;
  left: 0;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-options::-webkit-scrollbar-track {
  background-color: transparent;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-options::-webkit-scrollbar-thumb {
  background: #201600;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-options .custom-option {
  position: relative;
  display: block;
  padding: 8px 0 8px 18px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 16px;
  color: #201600;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-options .custom-option:last-child {
  border-bottom: none;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-options .custom-option.selection {
  background: #e7e7e7;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-options .custom-option:hover {
  background: #e7e7e7;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .sum_total_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .sum_total_container .text {
  font-size: 14px;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .sum_total_container .sum_count .text {
  font-size: 14px;
  font-weight: 700;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .bottom_btn_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper-cart main .section_cart .cart_detailed_block .form_container .bottom_btn_submit .btn_container .custom_btn {
  padding: 16px 48px 22px 48px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.33px;
  color: #fff;
  background-color: #000;
}

#wrapper-ordering main {
  padding: 110px 0 80px 0;
  background-color: #fff;
}

#wrapper-ordering main .section_ordering .section_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

#wrapper-ordering main .section_ordering .section_title .title {
  font-size: 24px;
  margin-bottom: 10px;
}

#wrapper-ordering main .section_ordering .section_title .btn_container .custom_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 23px;
  font-size: 15px;
  letter-spacing: 1.25px;
  color: #fff;
  background-color: #000;
}

#wrapper-ordering main .section_ordering .order_info_container {
  margin-bottom: 60px;
}

#wrapper-ordering main .section_ordering .order_info_container .order_table .table_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}

#wrapper-ordering main .section_ordering .order_info_container .order_table .table_head .text {
  font-size: 20px;
  font-weight: 400;
}

#wrapper-ordering main .section_ordering .order_info_container .order_table .table_body .product_order_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 40px 0;
  border-bottom: 1px solid #e7e7e7;
}

#wrapper-ordering main .section_ordering .order_info_container .order_table .table_body .product_order_row .product_detailed_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 60%;
}

#wrapper-ordering main .section_ordering .order_info_container .order_table .table_body .product_order_row .product_detailed_info .inner_image {
  height: 60px;
  margin-right: 10px;
}

#wrapper-ordering main .section_ordering .order_info_container .order_table .table_body .product_order_row .product_detailed_info .inner_image img {
  width: auto;
  height: 100%;
}

#wrapper-ordering main .section_ordering .order_info_container .order_table .table_body .product_order_row .product_detailed_info .inner_text .text {
  font-size: 14px;
  font-weight: 300;
}

#wrapper-ordering main .section_ordering .order_info_container .order_table .table_body .product_order_row .product_order_price .text.product_price {
  font-size: 16px;
  font-weight: 300;
}

#wrapper-ordering main .section_ordering .order_info_container .products_sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

#wrapper-ordering main .section_ordering .order_info_container .products_sum .text {
  font-size: 16px;
}

#wrapper-ordering main .section_ordering .order_info_container .products_sum .text.sum_price {
  font-weight: 700;
}

#wrapper-ordering main .section_ordering .delivery_info .block_title {
  margin-bottom: 20px;
}

#wrapper-ordering main .section_ordering .delivery_info .block_title .title {
  font-size: 20px;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group label {
  font-size: 16px;
  font-weight: 300;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .form-control {
  padding: 15px;
  height: auto;
  border-radius: 0;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .form-control.err {
  border: 1px solid red;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .form-control:focus {
  color: #000;
  outline: none;
  border: 1px solid #c7c7c7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .form-control::-webkit-input-placeholder {
  color: #a6a299;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper select {
  display: none;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  line-height: normal;
  color: #201600;
  vertical-align: middle;
  background: none;
  border: none;
  border-radius: 0;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select.opened .custom-select-trigger:after {
  margin-top: 0px;
  -webkit-transform: rotate(-135deg) translateY(-50%);
          transform: rotate(-135deg) translateY(-50%);
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-select-trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 18px 15px;
  font-size: 16px;
  font-weight: 300;
  color: #201600;
  background: #fff;
  border-radius: 0;
  border: 1px solid #e7e7e7;
  cursor: pointer;
  text-align: left;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-select-trigger.select_err {
  border: 1px solid red;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 2px solid #201600;
  border-right: 2px solid #201600;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  height: auto;
  overflow: auto;
  margin: 0;
  border: 1px solid #e7e7e7;
  border-top: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  z-index: 1;
  /* width */
  /* Track */
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-options::-webkit-scrollbar {
  width: 3px;
  position: absolute;
  left: 0;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-options::-webkit-scrollbar-track {
  background-color: transparent;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-options::-webkit-scrollbar-thumb {
  background: #201600;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-options .custom-option {
  position: relative;
  display: block;
  padding: 18px 15px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 16px;
  font-weight: 300;
  color: #201600;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-options .custom-option:last-child {
  border-bottom: none;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-options .custom-option.selection {
  background: #e7e7e7;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-options .custom-option.hide {
  display: none;
}

#wrapper-ordering main .section_ordering .delivery_info .form-group .custom-select-wrapper .custom-select .custom-options .custom-option:hover {
  background: #e7e7e7;
}

#wrapper-ordering main .section_ordering .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper-ordering main .section_ordering .btn_container .custom_btn {
  padding: 15px 50px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.33px;
}

#wrapper-product-selected main {
  padding: 100px 0;
}

#wrapper-product-selected main .section_product_selected .row {
  position: relative;
}

#wrapper-product-selected main .section_product_selected .product_introduce {
  margin-bottom: 60px;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-main-carousel {
  margin-bottom: 10px;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-main-carousel .carousel-cell {
  width: 100%;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-main-carousel .carousel-cell .image_container {
  width: 100%;
  height: 350px;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-main-carousel .carousel-cell .image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-nav-carousel .carousel-cell {
  width: 25%;
  padding-right: 10px;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-nav-carousel .carousel-cell:last-child {
  padding-right: 0;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-nav-carousel .carousel-cell .image_container {
  position: relative;
  width: 100%;
  height: 80px;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-nav-carousel .carousel-cell .image_container.iframe_container:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-nav-carousel .carousel-cell .image_container.iframe_container:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 15px;
  border-color: transparent transparent transparent #fff;
  cursor: pointer;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-nav-carousel .carousel-cell .image_container.overHide:before {
  opacity: 0;
  visibility: hidden;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-nav-carousel .carousel-cell .image_container.overHide:after {
  opacity: 0;
  visibility: hidden;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-nav-carousel .carousel-cell .image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#wrapper-product-selected main .section_product_selected .product_introduce .product-nav-carousel .carousel-cell .image_container iframe {
  width: 100%;
  height: 100%;
}

#wrapper-product-selected main .section_product_selected .product_information {
  margin-bottom: 60px;
}

#wrapper-product-selected main .section_product_selected .product_information .product_name {
  margin-bottom: 30px;
}

#wrapper-product-selected main .section_product_selected .product_information .product_name .name {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.67px;
}

#wrapper-product-selected main .section_product_selected .product_information .product_description {
  margin-bottom: 40px;
}

#wrapper-product-selected main .section_product_selected .product_information .product_description .text {
  font-size: 15px;
  line-height: 23px;
  font-weight: 300;
}

#wrapper-product-selected main .section_product_selected .product_information .product_description .text.title {
  font-weight: 400;
}

#wrapper-product-selected main .section_product_selected .product_information .product_size_info {
  margin-bottom: 30px;
}

#wrapper-product-selected main .section_product_selected .product_information .product_size_info .title {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

#wrapper-product-selected main .section_product_selected .product_information .product_size_info .sizes_container .size_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#wrapper-product-selected main .section_product_selected .product_information .product_size_info .sizes_container .size_row .size_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  border: 1px solid #e7e7e7;
  cursor: pointer;
}

#wrapper-product-selected main .section_product_selected .product_information .product_size_info .sizes_container .size_row .size_block.active {
  background-color: #e7e7e7;
}

#wrapper-product-selected main .section_product_selected .product_information .product_size_info .sizes_container .size_row .size_block .text {
  font-size: 16px;
  padding: 10px 0;
}

#wrapper-product-selected main .section_product_selected .product_information .price_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

#wrapper-product-selected main .section_product_selected .product_information .price_row .price_number .text {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.98px;
}

#wrapper-product-selected main .section_product_selected .product_information .price_row .in_stock .text {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.98px;
}

#wrapper-product-selected main .section_product_selected .product_information .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#wrapper-product-selected main .section_product_selected .product_information .btn_container .custom_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #000;
  padding: 15px 60px;
  margin-right: 10px;
  font-size: 16px;
  letter-spacing: 1.33px;
}

#wrapper-product-selected main .section_product_selected .product_information .btn_container .custom_btn.choosen {
  padding: 15px 17px;
  margin-right: 0;
}

#wrapper-product-selected main .section_product_selected .product_information .btn_container .custom_btn img {
  height: 17px;
}

#wrapper-product-selected main .section_product_selected .bottom_tab_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

#wrapper-product-selected main .section_product_selected .bottom_tab_container .tab_item {
  width: 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper-product-selected main .section_product_selected .bottom_tab_container .tab_item.middle {
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

#wrapper-product-selected main .section_product_selected .bottom_tab_container .tab_item.active a {
  opacity: 1;
}

#wrapper-product-selected main .section_product_selected .bottom_tab_container .tab_item a {
  opacity: 0.25;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#wrapper-product-selected main .section_product_selected .full_description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 60px;
}

#wrapper-product-selected main .section_product_selected .full_description.subShow {
  position: relative;
  opacity: 1;
  visibility: visible;
  z-index: 1;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#wrapper-product-selected main .section_product_selected .full_description .full_description_info {
  margin-bottom: 20px;
}

#wrapper-product-selected main .section_product_selected .full_description .full_description_info .text {
  font-size: 15px;
  line-height: 23px;
  font-weight: 300;
}

#wrapper-product-selected main .section_product_selected .full_description .full_description_info .text.title {
  font-weight: 400;
}

#wrapper-product-selected main .section_product_selected .full_description .full_product_description .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

#wrapper-product-selected main .section_product_selected .full_description .full_product_description .text_block:last-child {
  margin-bottom: 0;
}

#wrapper-product-selected main .section_product_selected .full_description .full_product_description .text_block .text {
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
}

#wrapper-product-selected main .section_product_selected .full_description .full_product_description .text_block .text:last-child {
  text-align: right;
  width: 50%;
}

#wrapper-product-selected main .section_product_selected .full_description .full_product_description .text_block .text.bold {
  font-weight: 400;
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container {
  max-height: 1000px;
  height: 100%;
  overflow: hidden;
  -webkit-transition: max-height 3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: max-height 3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container.show_all_blocks {
  max-height: 2500px;
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container .review_block {
  margin-bottom: 60px;
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container .review_block .data_name_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container .review_block .data_name_block .review_data .text {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.75px;
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container .review_block .data_name_block .user_name .text {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.75px;
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container .review_block .review_text {
  margin-bottom: 15px;
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container .review_block .review_text .text_title {
  font-size: 15px;
  margin-bottom: 15px;
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container .review_block .review_text .text {
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  max-height: 92px;
  height: 100%;
  overflow: hidden;
  -webkit-transition: max-height 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: max-height 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container .review_block .review_text .text.show_all {
  max-height: 200px;
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container .review_block .show_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container .review_block .show_all .read_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  cursor: pointer;
}

#wrapper-product-selected main .section_product_selected .full_description .reviews_container .review_block .show_all .read_more span {
  padding-left: 10px;
}

#wrapper-product-selected main .section_product_selected .full_description .btn_container .custom_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 30px;
  color: #fff;
  background-color: #000;
  font-size: 16px;
  letter-spacing: 1.33px;
  margin: 0 auto;
}

#wrapper-product-selected main .section_product_selected .popular_products .title {
  padding: 0 20px;
  font-size: 24px;
  margin-bottom: 40px;
}

#wrapper-product-selected main .section_product_selected .popular_products .popular-main-carousel .carousel-cell {
  width: 260px;
  padding-left: 20px;
}

#wrapper-product-selected main .section_product_selected .popular_products .popular-main-carousel .carousel-cell .image_container {
  width: auto;
  height: 240px;
}

#wrapper-product-selected main .section_product_selected .popular_products .popular-main-carousel .carousel-cell .image_container img {
  width: 100%;
  height: 100%;
}

#wrapper-product-selected main .section_product_selected .popular_products .popular-main-carousel .flickity-button {
  width: 34px;
  height: 34px;
  background: none;
}

#wrapper-product-selected main .section_product_selected .popular_products .popular-main-carousel .flickity-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#wrapper-product-selected main .section_product_selected .popular_products .popular-main-carousel .flickity-button:active {
  opacity: 1;
}

#wrapper-product-selected main .section_product_selected .popular_products .popular-main-carousel .flickity-prev-next-button {
  top: -71px;
  -webkit-transform: none;
          transform: none;
}

#wrapper-product-selected main .section_product_selected .popular_products .popular-main-carousel .flickity-prev-next-button.previous {
  left: unset;
  right: 50px;
}

#wrapper-product-selected main .section_product_selected .popular_products .popular-main-carousel .flickity-prev-next-button.next {
  right: 7px;
}

#wrapper-product-selected main .section_product_selected .popular_products .popular-main-carousel .flickity-prev-next-button .flickity-button-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 26px;
}
/*# sourceMappingURL=main.css.map */