@media (min-width: 576px) {
  #wrapper-main header, #wrapper-products-list header, #wrapper-cart header {
    margin: 15px 30px 0 30px;
  }
  #wrapper-main header .header_mobile .header_container, #wrapper-products-list header .header_mobile .header_container, #wrapper-cart header .header_mobile .header_container {
    padding: 10px 0;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n + 1), #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n + 1), #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n + 1) {
    padding-right: 20px !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n), #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n), #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n) {
    padding-left: 20px !important;
  }
  #wrapper-main footer .left_block, #wrapper-products-list footer .left_block, #wrapper-cart footer .left_block {
    margin-bottom: 60px;
  }
  #wrapper-main footer .left_block .logo, #wrapper-products-list footer .left_block .logo, #wrapper-cart footer .left_block .logo {
    margin: 0 auto 20px 0;
  }
  #wrapper-main footer .left_block .text_about, #wrapper-products-list footer .left_block .text_about, #wrapper-cart footer .left_block .text_about {
    width: 100%;
    max-width: 240px;
    margin: 0 auto 20px 0;
  }
  #wrapper-main footer .left_block .text_about p, #wrapper-products-list footer .left_block .text_about p, #wrapper-cart footer .left_block .text_about p {
    text-align: left;
  }
  #wrapper-main footer .left_block .socials_container, #wrapper-products-list footer .left_block .socials_container, #wrapper-cart footer .left_block .socials_container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #wrapper-main footer .right_block .list_title, #wrapper-products-list footer .right_block .list_title, #wrapper-cart footer .right_block .list_title {
    text-align: left;
    margin-bottom: 37px;
  }
  #wrapper-main footer .right_block .list_container, #wrapper-products-list footer .right_block .list_container, #wrapper-cart footer .right_block .list_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
  #wrapper-main footer .right_block .list_container .nav_list.first_child, #wrapper-products-list footer .right_block .list_container .nav_list.first_child, #wrapper-cart footer .right_block .list_container .nav_list.first_child {
    margin-bottom: 0;
    width: 50%;
  }
  #wrapper-main footer .right_block .list_container .nav_list.second_child, #wrapper-products-list footer .right_block .list_container .nav_list.second_child, #wrapper-cart footer .right_block .list_container .nav_list.second_child {
    width: 50%;
  }
  #wrapper-main footer .right_block .list_container .nav_list .list_item, #wrapper-products-list footer .right_block .list_container .nav_list .list_item, #wrapper-cart footer .right_block .list_container .nav_list .list_item {
    text-align: left;
  }
  #wrapper-main footer .right_block .list_container .nav_list .list_item a, #wrapper-main footer .right_block .list_container .nav_list .list_item p, #wrapper-products-list footer .right_block .list_container .nav_list .list_item a, #wrapper-products-list footer .right_block .list_container .nav_list .list_item p, #wrapper-cart footer .right_block .list_container .nav_list .list_item a, #wrapper-cart footer .right_block .list_container .nav_list .list_item p {
    line-height: 22px;
  }
  #wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text {
    bottom: 120px;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.next {
    right: 40%;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.previous {
    left: 40%;
  }
  #wrapper-main main .section_second_slide {
    padding: 80px 0;
  }
  #wrapper-main main .section_second_slide .slide_container.news {
    margin-bottom: 80px;
  }
  #wrapper-main main .section_second_slide .slide_container .slide_title {
    font-size: 36px;
    margin-left: 45px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .carousel-cell {
    width: 290px;
    margin-right: 40px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .carousel-cell .image_container {
    height: 290px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button {
    top: -26%;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.next {
    right: 45px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.previous {
    left: unset;
    right: 17%;
  }
  #wrapper-main main .section_categories {
    padding-bottom: 60px;
  }
  #wrapper-main main .section_categories .categ_product_block.chains .inner_block {
    padding: 40px 0 40px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .inner_block {
    padding: 40px 35px 40px 0;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .inner_block {
    padding: 40px 0 40px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .inner_block {
    padding: 40px 35px 40px 0;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .inner_block {
    padding: 40px 0 40px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block {
    padding: 40px 0;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.31px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.62px;
  }
  #wrapper-main main .section_about_info {
    padding-bottom: 80px;
  }
  #wrapper-main main .section_about_info .text_info .title {
    font-size: 30px;
  }
  #wrapper-main main .section_about_info .text_info .text {
    font-size: 15px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .row [class*='col'] {
    margin-bottom: 30px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block {
    padding: 75px 15px 15px 15px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_text .text {
    font-size: 20px;
    letter-spacing: 0.42px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col'] {
    margin-bottom: 30px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(1) {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(odd) {
    padding-left: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(even) {
    padding-right: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_image img {
    width: 100%;
    padding: 0 20px;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text .text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.67px;
  }
  #wrapper-products-list main .section_products_list .product_block .product_image {
    height: 240px;
  }
  #wrapper-products-list main .section_products_list .product_block .product_info .product_text .text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.8px;
  }
  #wrapper-products-list main .section_products_list .pagination_nav {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  #wrapper-products-list main .filters_menu .filters_container {
    padding-top: 65px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filters_header {
    padding: 20px 30px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body {
    padding: 40px 15px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block.price {
    width: 100%;
    max-width: 340px;
    margin: 0 auto 40px auto;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row {
    padding: 0 20px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row .btn_container {
    max-width: 200px;
  }
  #wrapper-cart main {
    padding: 160px 0 95px 0;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body {
    padding-bottom: 40px;
    margin-bottom: 30px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block {
    max-width: 50%;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block .product_img {
    margin-right: 20px;
    height: 80px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block .product_text .text {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_right_block .product_price .text {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_right_block .product_remove .remove_btn {
    font-size: 15px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group label {
    margin-right: 20px;
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group .input_container .input_number {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group label {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-select-trigger {
    padding: 9px 0 12px 18px;
    width: 80px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-select-trigger:after {
    right: 22px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .sum_total_container {
    padding-top: 0;
    width: 100%;
    max-width: 245px;
    margin: 0 0 0 auto;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .sum_total_container .text {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .sum_total_container .sum_count .text {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .bottom_btn_submit {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .bottom_btn_submit .btn_container .custom_btn {
    padding: 15px 50px;
  }
}

@media (min-width: 768px) {
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n + 1), #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n + 1), #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n + 1) {
    padding-right: 65px !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n), #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n), #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n) {
    padding-left: 65px !important;
  }
  #wrapper-main footer .left_block .text_about, #wrapper-products-list footer .left_block .text_about, #wrapper-cart footer .left_block .text_about {
    max-width: 100%;
  }
  #wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text {
    max-width: 620px;
    bottom: 105px;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.next {
    right: 42.5%;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.previous {
    left: 42.5%;
  }
  #wrapper-main main .section_second_slide .slide_container.news {
    margin-bottom: 80px;
  }
  #wrapper-main main .section_second_slide .slide_container .slide_title {
    font-size: 36px;
    margin-left: 40px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .carousel-cell {
    margin-right: 40px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button {
    top: -26%;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.next {
    right: 40px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.previous {
    left: unset;
    right: 12%;
  }
  #wrapper-main main .section_categories {
    padding-bottom: 60px;
  }
  #wrapper-main main .section_categories .row .col-12.full_height {
    margin-bottom: 20px;
    padding-right: 10px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height.right_side {
    padding-left: 10px !important;
    padding-right: 0px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height .categ_product_block {
    height: 100%;
  }
  #wrapper-main main .section_categories .row .col-12.full_height .categ_product_block .inner_block {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_right {
    padding-left: 10px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_left {
    padding-right: 10px !important;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .bottom_img.left {
    right: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .bottom_img.left img {
    left: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .bottom_img.right {
    left: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .bottom_img.right img {
    left: unset !important;
    right: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.chains .inner_block {
    padding: 0 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .inner_block {
    padding: 40px 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .inner_block {
    padding: 40px 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block {
    padding: 40px 25px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container {
    margin: 0 auto 0 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container .title {
    text-align: left;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container .text {
    text-align: left;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container .btn_container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .bottom_img img {
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .inner_block {
    padding: 40px 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .inner_block {
    padding: 40px 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.pins .inner_block {
    padding: 0 10px;
  }
  #wrapper-main main .section_categories .categ_product_block .bottom_img {
    left: 0 !important;
    right: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block .bottom_img img {
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    right: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block {
    padding: 40px 0;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container {
    max-width: 330px;
    margin: 0 auto !important;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .title {
    text-align: center;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .text {
    text-align: center;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container.to-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container.to-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper-main main .section_about_info {
    padding-bottom: 80px;
  }
  #wrapper-main main .section_about_info .text_info .title {
    font-size: 30px;
    max-width: 92%;
  }
  #wrapper-main main .section_about_info .text_info .text {
    font-size: 15px;
  }
  #wrapper-products-list main {
    margin-top: 150px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col'] {
    margin-bottom: 30px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(1) {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(odd) {
    padding-left: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(even) {
    padding-right: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_image img {
    padding: 0 25px;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text {
    padding: 25px 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text .text {
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.83px;
  }
  #wrapper-products-list main .section_products_list .product_block .product_image {
    height: 300px;
  }
  #wrapper-products-list main .filters_menu {
    margin: 15px;
    height: calc(100vh - 30px);
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body {
    padding: 40px 10px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row {
    width: 100%;
    max-width: 470px;
    padding: 0;
    margin: 0 auto;
  }
  #wrapper-cart main {
    padding: 160px 0;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block {
    max-width: 70%;
  }
}

@media (min-width: 992px) {
  #wrapper-main footer .container, #wrapper-products-list footer .container, #wrapper-cart footer .container {
    max-width: 805px;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n + 1), #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n + 1), #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n + 1) {
    padding-right: 65px !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n), #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n), #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n) {
    padding-left: 65px !important;
  }
  #wrapper-main footer .right_block .list_container, #wrapper-products-list footer .right_block .list_container, #wrapper-cart footer .right_block .list_container {
    margin-bottom: 60px;
  }
  #wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text {
    max-width: 100%;
    bottom: 105px;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.next {
    left: 10%;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.previous {
    left: 47px;
  }
  #wrapper-main main .section_second_slide {
    padding: 100px 0;
  }
  #wrapper-main main .section_second_slide .slide_container.news {
    margin-bottom: 100px;
  }
  #wrapper-main main .section_second_slide .slide_container .slide_title {
    margin-left: 45px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button {
    top: -26%;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.next {
    right: 25px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.previous {
    left: unset;
    right: 7%;
  }
  #wrapper-main main .section_categories {
    padding-bottom: 80px;
  }
  #wrapper-main main .section_categories .row .col-12.full_height {
    margin-bottom: 15px;
    padding-right: 7.5px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height.right_side {
    padding-left: 7.5px !important;
    padding-right: 0px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_right {
    padding-left: 7.5px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_left {
    padding-right: 7.5px !important;
  }
  #wrapper-main main .section_categories .categ_product_block {
    margin-bottom: 15px;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .inner_block .product_info_container {
    max-width: 465px;
  }
  #wrapper-main main .section_categories .categ_product_block.chains .bottom_img img {
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .inner_block {
    padding: 30px 15px;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .inner_block .product_info_container {
    margin: 0 auto 0 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .bottom_img {
    left: unset !important;
    right: 10% !important;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .bottom_img img {
    right: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .inner_block {
    padding: 30px 15px;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .inner_block .product_info_container {
    margin: 0 0 0 auto !important;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .bottom_img {
    left: 10% !important;
    right: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .bottom_img img {
    left: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block {
    padding: 30px 0 30px 100px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container {
    max-width: 270px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .bottom_img {
    left: unset !important;
    right: 10% !important;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .bottom_img img {
    right: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .inner_block {
    padding: 30px 0 30px 25px;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .inner_block .product_info_container {
    max-width: 270px;
    margin: 0 auto 0 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .bottom_img {
    left: unset !important;
    right: 10% !important;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .bottom_img img {
    right: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .inner_block {
    padding: 30px 15px;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .inner_block .product_info_container {
    max-width: 270px;
    margin: 0 0 0 auto !important;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .bottom_img {
    left: 10% !important;
    right: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .bottom_img img {
    left: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.pins .inner_block {
    padding: 0 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.pins .inner_block .product_info_container {
    max-width: 370px;
  }
  #wrapper-main main .section_categories .categ_product_block.pins .bottom_img img {
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #wrapper-main main .section_categories .categ_product_block .bottom_img img {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: unset !important;
    right: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block {
    padding: 30px 0;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container {
    max-width: 330px;
    margin: 0 auto !important;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .title {
    font-size: 40px;
    letter-spacing: 0.35px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.7px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container {
    padding: 0;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container a span {
    font-size: 16px;
    letter-spacing: 1.33px;
  }
  #wrapper-main main .section_about_info {
    padding-bottom: 80px;
  }
  #wrapper-main main .section_about_info .text_info .title {
    font-size: 36px;
    max-width: 85%;
  }
  #wrapper-main main .section_about_info .text_info .text {
    font-size: 16px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block {
    padding: 140px 35px 40px 35px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_image {
    margin-bottom: 75px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col'] {
    margin-bottom: 60px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(1) {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(2) {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(odd) {
    padding-left: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(even) {
    padding-right: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_image img {
    padding: 0 35px;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text {
    padding: 60px 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text .text {
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 1px;
  }
  #wrapper-products-list main .section_products_list .product_block .product_image {
    height: 450px;
    margin-bottom: 20px;
  }
  #wrapper-products-list main .filters_menu {
    margin: 15px;
    height: auto;
    bottom: unset;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body {
    padding: 40px 15px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row {
    width: 100%;
    max-width: 470px;
    padding: 0;
    margin: 0 auto;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block.price {
    margin: 0 auto 0 0;
  }
  #wrapper-cart main {
    padding: 160px 0;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .table_container {
    width: 100%;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .table_container tbody tr td {
    padding: 20px 0 30px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_header {
    display: table-header-group;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_header tr th {
    padding: 10px 0;
    border-top: none;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block {
    max-width: 60%;
  }
}

@media (min-width: 1200px) {
  #wrapper-main header .container-fluid, #wrapper-products-list header .container-fluid, #wrapper-cart header .container-fluid {
    padding: 0 45px;
  }
  #wrapper-main header .header_desktop, #wrapper-products-list header .header_desktop, #wrapper-cart header .header_desktop {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #wrapper-main header .header_desktop .header_container, #wrapper-products-list header .header_desktop .header_container, #wrapper-cart header .header_desktop .header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrapper-main header .header_desktop .header_container .logo, #wrapper-products-list header .header_desktop .header_container .logo, #wrapper-cart header .header_desktop .header_container .logo {
    width: 140px;
    height: 50px;
    margin-right: 40px;
  }
  #wrapper-main header .header_desktop .header_container .logo img, #wrapper-products-list header .header_desktop .header_container .logo img, #wrapper-cart header .header_desktop .header_container .logo img {
    width: 100%;
    height: 100%;
  }
  #wrapper-main header .header_desktop .header_container .nav_container, #wrapper-products-list header .header_desktop .header_container .nav_container, #wrapper-cart header .header_desktop .header_container .nav_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list, #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list, #wrapper-cart header .header_desktop .header_container .nav_container .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item, #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item, #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item {
    margin-right: 40px;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item:last-child, #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item:last-child, #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item:last-child {
    margin-right: 0;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item p, #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item p, #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item p {
    color: #201600;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item p.acc_click.onDisabled, #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item p.acc_click.onDisabled, #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item p.acc_click.onDisabled {
    pointer-events: none;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container, #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container, #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container {
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #201600;
    border-radius: 50%;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a, #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a, #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a .goods_count, #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a .goods_count, #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a .goods_count {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.22px;
  }
  #wrapper-main footer .container, #wrapper-products-list footer .container, #wrapper-cart footer .container {
    max-width: 1170px;
  }
  #wrapper-main footer .container .row [class*="col-12"], #wrapper-products-list footer .container .row [class*="col-12"], #wrapper-cart footer .container .row [class*="col-12"] {
    padding-right: 50px !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:last-child, #wrapper-products-list footer .container .row [class*="col-12"]:last-child, #wrapper-cart footer .container .row [class*="col-12"]:last-child {
    padding-right: 0 !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n + 1), #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n + 1), #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n + 1) {
    padding-right: 50px !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n), #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n), #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n) {
    padding-left: 0 !important;
  }
  #wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text {
    max-width: 100%;
    bottom: 105px;
  }
  #wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text .title {
    font-size: 36px;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.next {
    left: 140px;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.previous {
    left: 90px;
  }
  #wrapper-main main .section_second_slide {
    padding: 120px 0;
  }
  #wrapper-main main .section_second_slide .slide_container.news {
    margin-bottom: 120px;
  }
  #wrapper-main main .section_second_slide .slide_container .slide_title {
    margin-left: 80px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.next {
    right: 80px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.previous {
    left: unset;
    right: 120px;
  }
  #wrapper-main main .section_categories {
    padding-bottom: 120px;
  }
  #wrapper-main main .section_categories .row .col-12.full_height {
    margin-bottom: 10px;
    padding-right: 10px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height.right_side {
    padding-left: 10px !important;
    padding-right: 0px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_right {
    padding-left: 10px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_left {
    padding-right: 10px !important;
  }
  #wrapper-main main .section_categories .categ_product_block {
    margin-bottom: 15px;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .inner_block .product_info_container {
    max-width: 650px;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .inner_block {
    padding: 60px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .inner_block {
    padding: 60px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block {
    padding: 60px 0 60px 150px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container {
    max-width: 380px;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .inner_block {
    padding: 60px 0 60px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .inner_block {
    padding: 60px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.pins .inner_block {
    padding: 0 30px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block {
    padding: 60px 0;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container {
    max-width: 380px !important;
    margin: 0 auto !important;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .title {
    font-size: 48px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.8px;
    margin-bottom: 30px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container a {
    padding: 17px 72px;
  }
  #wrapper-main main .section_about_info {
    padding-bottom: 120px;
  }
  #wrapper-main main .section_about_info .text_info .title {
    font-size: 36px;
    max-width: 85%;
  }
  #wrapper-main main .section_about_info .text_info .text {
    font-size: 16px;
  }
  #wrapper-products-list main {
    margin-top: 180px;
    margin-bottom: 115px;
  }
  #wrapper-products-list main .section_products_list .container {
    max-width: 1360px;
    padding: 0 40px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .row {
    margin-left: -17px !important;
    margin-right: -17px !important;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .row [class*='col'] {
    margin-bottom: 40px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .row [class*='col']:nth-child(odd) {
    padding-left: 17px;
    padding-right: 17px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .row [class*='col']:nth-child(even) {
    padding-left: 17px;
    padding-right: 17px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block {
    padding: 100px 25px 25px 25px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_image {
    margin-bottom: 50px;
  }
  #wrapper-products-list main .section_products_list .product_about {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #wrapper-products-list main .section_products_list .product_about .left_container {
    padding-left: 0;
    padding-right: 17px;
    margin-bottom: 73px !important;
  }
  #wrapper-products-list main .section_products_list .product_about .right_container {
    padding-left: 17px;
    padding-right: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col'] {
    margin-bottom: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(1) {
    margin-top: 0;
    margin-bottom: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(odd) {
    padding-left: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(even) {
    padding-right: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_image {
    margin-right: 55px;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_image img {
    padding: 0 50px;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text {
    padding: 25px 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text .text {
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 1px;
  }
  #wrapper-products-list main .section_products_list .product_block .product_image {
    height: 310px;
    margin-bottom: 10px;
  }
  #wrapper-products-list main .section_products_list .products_container .row {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  #wrapper-products-list main .section_products_list .products_container .row [class*='col'] {
    margin-bottom: 60px;
  }
  #wrapper-products-list main .section_products_list .products_container .row [class*='col']:nth-child(odd) {
    padding-left: 15px;
  }
  #wrapper-products-list main .section_products_list .products_container .row [class*='col']:nth-child(even) {
    padding-right: 15px;
  }
  #wrapper-products-list main .filters_menu {
    margin: 0;
    height: auto;
    bottom: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    width: 100%;
    max-width: 61%;
    margin: 0 0 0 auto;
  }
  #wrapper-products-list main .filters_menu.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #wrapper-products-list main .filters_menu .filters_container {
    padding-top: 0;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body {
    padding: 125px 25px 40px 25px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row {
    width: 100%;
    max-width: 470px;
    padding: 0;
    margin: 0 auto;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block.price {
    margin: 0 auto 0 0;
  }
}
/*# sourceMappingURL=media.css.map */