@media (min-width: 1200px) {
  #wrapper-main header .container-fluid,
  #wrapper-products-list header .container-fluid,
  #wrapper-cart header .container-fluid,
  #wrapper-ordering header .container-fluid,
  #wrapper-product-selected header .container-fluid {
    padding: 0 45px;
  }
  #wrapper-main header .header_desktop,
  #wrapper-products-list header .header_desktop,
  #wrapper-cart header .header_desktop,
  #wrapper-ordering header .header_desktop,
  #wrapper-product-selected header .header_desktop {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #wrapper-main header .header_desktop .header_container,
  #wrapper-products-list header .header_desktop .header_container,
  #wrapper-cart header .header_desktop .header_container,
  #wrapper-ordering header .header_desktop .header_container,
  #wrapper-product-selected header .header_desktop .header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrapper-main header .header_desktop .header_container .logo,
  #wrapper-products-list header .header_desktop .header_container .logo,
  #wrapper-cart header .header_desktop .header_container .logo,
  #wrapper-ordering header .header_desktop .header_container .logo,
  #wrapper-product-selected header .header_desktop .header_container .logo {
    width: 140px;
    height: 50px;
    margin-right: 40px;
  }
  #wrapper-main header .header_desktop .header_container .logo img,
  #wrapper-products-list header .header_desktop .header_container .logo img,
  #wrapper-cart header .header_desktop .header_container .logo img,
  #wrapper-ordering header .header_desktop .header_container .logo img,
  #wrapper-product-selected header .header_desktop .header_container .logo img {
    width: 100%;
    height: 100%;
  }
  #wrapper-main header .header_desktop .header_container .nav_container,
  #wrapper-products-list header .header_desktop .header_container .nav_container,
  #wrapper-cart header .header_desktop .header_container .nav_container,
  #wrapper-ordering header .header_desktop .header_container .nav_container,
  #wrapper-product-selected header .header_desktop .header_container .nav_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list,
  #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list,
  #wrapper-cart header .header_desktop .header_container .nav_container .nav_list,
  #wrapper-ordering header .header_desktop .header_container .nav_container .nav_list,
  #wrapper-product-selected header .header_desktop .header_container .nav_container .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item,
  #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item,
  #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item,
  #wrapper-ordering header .header_desktop .header_container .nav_container .nav_list .list_item,
  #wrapper-product-selected header .header_desktop .header_container .nav_container .nav_list .list_item {
    margin-right: 40px;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item:last-child,
  #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item:last-child,
  #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item:last-child,
  #wrapper-ordering header .header_desktop .header_container .nav_container .nav_list .list_item:last-child,
  #wrapper-product-selected header .header_desktop .header_container .nav_container .nav_list .list_item:last-child {
    margin-right: 0;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item p,
  #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item p,
  #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item p,
  #wrapper-ordering header .header_desktop .header_container .nav_container .nav_list .list_item p,
  #wrapper-product-selected header .header_desktop .header_container .nav_container .nav_list .list_item p {
    color: #201600;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item p.acc_click.onDisabled,
  #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item p.acc_click.onDisabled,
  #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item p.acc_click.onDisabled,
  #wrapper-ordering header .header_desktop .header_container .nav_container .nav_list .list_item p.acc_click.onDisabled,
  #wrapper-product-selected header .header_desktop .header_container .nav_container .nav_list .list_item p.acc_click.onDisabled {
    pointer-events: none;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container,
  #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container,
  #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container,
  #wrapper-ordering header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container,
  #wrapper-product-selected header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container {
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #201600;
    border-radius: 50%;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a,
  #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a,
  #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a,
  #wrapper-ordering header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a,
  #wrapper-product-selected header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper-main header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a .goods_count,
  #wrapper-products-list header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a .goods_count,
  #wrapper-cart header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a .goods_count,
  #wrapper-ordering header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a .goods_count,
  #wrapper-product-selected header .header_desktop .header_container .nav_container .nav_list .list_item .cart_container a .goods_count {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.22px;
  }
  #wrapper-main footer .container,
  #wrapper-products-list footer .container,
  #wrapper-cart footer .container,
  #wrapper-ordering footer .container,
  #wrapper-product-selected footer .container {
    max-width: 1170px;
  }
  #wrapper-main footer .container .row [class*="col-12"],
  #wrapper-products-list footer .container .row [class*="col-12"],
  #wrapper-cart footer .container .row [class*="col-12"],
  #wrapper-ordering footer .container .row [class*="col-12"],
  #wrapper-product-selected footer .container .row [class*="col-12"] {
    padding-right: 50px !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:last-child,
  #wrapper-products-list footer .container .row [class*="col-12"]:last-child,
  #wrapper-cart footer .container .row [class*="col-12"]:last-child,
  #wrapper-ordering footer .container .row [class*="col-12"]:last-child,
  #wrapper-product-selected footer .container .row [class*="col-12"]:last-child {
    padding-right: 0 !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-ordering footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-product-selected footer .container .row [class*="col-12"]:nth-child(2n + 1) {
    padding-right: 50px !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-ordering footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-product-selected footer .container .row [class*="col-12"]:nth-child(2n) {
    padding-left: 0 !important;
  }
  #wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text {
    max-width: 100%;
    bottom: 105px;
  }
  #wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text .title {
    font-size: 36px;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.next {
    left: 140px;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.previous {
    left: 90px;
  }
  #wrapper-main main .section_second_slide {
    padding: 120px 0;
  }
  #wrapper-main main .section_second_slide .slide_container.news {
    margin-bottom: 120px;
  }
  #wrapper-main main .section_second_slide .slide_container .slide_title {
    margin-left: 80px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.next {
    right: 80px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.previous {
    left: unset;
    right: 120px;
  }
  #wrapper-main main .section_categories {
    padding-bottom: 120px;
  }
  #wrapper-main main .section_categories .row .col-12.full_height {
    margin-bottom: 10px;
    padding-right: 10px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height.right_side {
    padding-left: 10px !important;
    padding-right: 0px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_right {
    padding-left: 10px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_left {
    padding-right: 10px !important;
  }
  #wrapper-main main .section_categories .categ_product_block {
    margin-bottom: 15px;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .inner_block .product_info_container {
    max-width: 650px;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .inner_block {
    padding: 60px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .inner_block {
    padding: 60px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block {
    padding: 60px 0 60px 150px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container {
    max-width: 380px;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .inner_block {
    padding: 60px 0 60px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .inner_block {
    padding: 60px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.pins .inner_block {
    padding: 0 30px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block {
    padding: 60px 0;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container {
    max-width: 380px !important;
    margin: 0 auto !important;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .title {
    font-size: 48px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.8px;
    margin-bottom: 30px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container a {
    padding: 17px 72px;
  }
  #wrapper-main main .section_about_info {
    padding-bottom: 120px;
  }
  #wrapper-main main .section_about_info .text_info .title {
    font-size: 36px;
    max-width: 85%;
  }
  #wrapper-main main .section_about_info .text_info .text {
    font-size: 16px;
  }
  #wrapper-products-list main {
    margin-top: 180px;
    margin-bottom: 115px;
  }
  #wrapper-products-list main .section_products_list .container {
    max-width: 1360px;
    padding: 0 40px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .row {
    margin-left: -17px !important;
    margin-right: -17px !important;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .row [class*='col'] {
    margin-bottom: 40px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .row [class*='col']:nth-child(odd) {
    padding-left: 17px;
    padding-right: 17px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .row [class*='col']:nth-child(even) {
    padding-left: 17px;
    padding-right: 17px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block {
    height: 310px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_text {
    margin-bottom: 25px;
  }
  #wrapper-products-list main .section_products_list .product_about {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #wrapper-products-list main .section_products_list .product_about .left_container {
    padding-left: 0;
    padding-right: 17px;
    margin-bottom: 65px !important;
  }
  #wrapper-products-list main .section_products_list .product_about .right_container {
    padding-left: 17px;
    padding-right: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col'] {
    margin-bottom: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(1) {
    margin-top: 0;
    margin-bottom: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(odd) {
    padding-left: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(even) {
    padding-right: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_image {
    margin-right: 55px;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text {
    padding: 25px 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text .text {
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 1px;
  }
  #wrapper-products-list main .section_products_list .product_block .product_image {
    height: 310px;
    margin-bottom: 10px;
  }
  #wrapper-products-list main .section_products_list .products_container .row {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  #wrapper-products-list main .section_products_list .products_container .row [class*='col'] {
    margin-bottom: 60px;
  }
  #wrapper-products-list main .section_products_list .products_container .row [class*='col']:nth-child(odd) {
    padding-left: 15px;
  }
  #wrapper-products-list main .section_products_list .products_container .row [class*='col']:nth-child(even) {
    padding-right: 15px;
  }
  #wrapper-products-list main .filters_menu {
    margin: 0;
    height: auto;
    bottom: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    width: 100%;
    max-width: 61%;
    margin: 0 0 0 auto;
  }
  #wrapper-products-list main .filters_menu.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #wrapper-products-list main .filters_menu .filters_container {
    padding-top: 0;
  }
  #wrapper-products-list main .filters_menu .filters_container .filters_header {
    padding: 30px 25px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body {
    padding: 125px 25px 40px 25px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row {
    width: 100%;
    max-width: 470px;
    padding: 0;
    margin: 0 auto;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block.price {
    margin: 0 auto 0 0;
  }
  #wrapper-cart main {
    padding: 160px 0 60px 0;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .table_container {
    width: 100%;
    margin-bottom: 0;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .table_container tbody tr td {
    padding: 20px 0 30px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_header {
    display: table-header-group;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_header tr th {
    padding: 10px 0;
    border-top: none;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_header tr th:last-child {
    text-align: right;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body:last-child .product_detailed {
    border-bottom: none;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block {
    max-width: 100%;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_numbers {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .sum_total_container {
    padding: 30px 0;
    border-top: 1px solid #e7e7e7;
  }
  #wrapper-ordering main {
    padding: 160px 0 75px 0;
  }
  #wrapper-ordering main .section_ordering .container {
    max-width: 1140px;
  }
  #wrapper-ordering main .section_ordering form .row .col-xl-6:nth-child(odd) {
    padding-right: 30px !important;
  }
  #wrapper-ordering main .section_ordering form .row .col-xl-6:nth-child(even) {
    padding-left: 30px !important;
  }
  #wrapper-ordering main .section_ordering form .delivery_info .form-group.col-sm-6:nth-child(odd) {
    padding-right: 7.5px !important;
  }
  #wrapper-ordering main .section_ordering form .delivery_info .form-group.col-sm-6:nth-child(even) {
    padding-left: 7.5px !important;
  }
  #wrapper-ordering main .section_ordering form .btn_container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=media-xl.css.map */