@media (min-width: 992px) {
  #wrapper-main footer .container,
  #wrapper-products-list footer .container,
  #wrapper-cart footer .container,
  #wrapper-ordering footer .container,
  #wrapper-product-selected footer .container {
    max-width: 805px;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-ordering footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-product-selected footer .container .row [class*="col-12"]:nth-child(2n + 1) {
    padding-right: 65px !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-ordering footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-product-selected footer .container .row [class*="col-12"]:nth-child(2n) {
    padding-left: 65px !important;
  }
  #wrapper-main footer .right_block .list_container,
  #wrapper-products-list footer .right_block .list_container,
  #wrapper-cart footer .right_block .list_container,
  #wrapper-ordering footer .right_block .list_container,
  #wrapper-product-selected footer .right_block .list_container {
    margin-bottom: 60px;
  }
  #wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text {
    max-width: 100%;
    bottom: 105px;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.next {
    left: 10%;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.previous {
    left: 47px;
  }
  #wrapper-main main .section_second_slide {
    padding: 100px 0;
  }
  #wrapper-main main .section_second_slide .slide_container.news {
    margin-bottom: 100px;
  }
  #wrapper-main main .section_second_slide .slide_container .slide_title {
    margin-left: 45px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button {
    top: -26%;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.next {
    right: 25px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.previous {
    left: unset;
    right: 7%;
  }
  #wrapper-main main .section_categories {
    padding-bottom: 80px;
  }
  #wrapper-main main .section_categories .row .col-12.full_height {
    margin-bottom: 15px;
    padding-right: 7.5px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height.right_side {
    padding-left: 7.5px !important;
    padding-right: 0px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_right {
    padding-left: 7.5px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_left {
    padding-right: 7.5px !important;
  }
  #wrapper-main main .section_categories .categ_product_block {
    margin-bottom: 15px;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .inner_block .product_info_container {
    max-width: 465px;
  }
  #wrapper-main main .section_categories .categ_product_block.chains .bottom_img img {
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .inner_block {
    padding: 30px 15px;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .inner_block .product_info_container {
    margin: 0 auto 0 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .bottom_img {
    left: unset !important;
    right: 10% !important;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .bottom_img img {
    right: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .inner_block {
    padding: 30px 15px;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .inner_block .product_info_container {
    margin: 0 0 0 auto !important;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .bottom_img {
    left: 10% !important;
    right: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .bottom_img img {
    left: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block {
    padding: 30px 0 30px 100px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container {
    max-width: 270px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .bottom_img {
    left: unset !important;
    right: 10% !important;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .bottom_img img {
    right: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .inner_block {
    padding: 30px 0 30px 25px;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .inner_block .product_info_container {
    max-width: 270px;
    margin: 0 auto 0 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .bottom_img {
    left: unset !important;
    right: 10% !important;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .bottom_img img {
    right: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .inner_block {
    padding: 30px 15px;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .inner_block .product_info_container {
    max-width: 270px;
    margin: 0 0 0 auto !important;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .bottom_img {
    left: 10% !important;
    right: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .bottom_img img {
    left: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.pins .inner_block {
    padding: 0 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.pins .inner_block .product_info_container {
    max-width: 370px;
  }
  #wrapper-main main .section_categories .categ_product_block.pins .bottom_img img {
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #wrapper-main main .section_categories .categ_product_block .bottom_img img {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: unset !important;
    right: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block {
    padding: 30px 0;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container {
    max-width: 330px;
    margin: 0 auto !important;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .title {
    font-size: 40px;
    letter-spacing: 0.35px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.7px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container {
    padding: 0;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container a span {
    font-size: 16px;
    letter-spacing: 1.33px;
  }
  #wrapper-main main .section_about_info {
    padding-bottom: 80px;
  }
  #wrapper-main main .section_about_info .text_info .title {
    font-size: 36px;
    max-width: 85%;
  }
  #wrapper-main main .section_about_info .text_info .text {
    font-size: 16px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block {
    height: 450px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_text {
    margin-bottom: 40px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col'] {
    margin-bottom: 60px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(1) {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(2) {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(odd) {
    padding-left: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(even) {
    padding-right: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text {
    padding: 60px 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text .text {
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 1px;
  }
  #wrapper-products-list main .section_products_list .product_block .product_image {
    height: 450px;
    margin-bottom: 20px;
  }
  #wrapper-products-list main .filters_menu {
    margin: 15px;
    height: auto;
    bottom: unset;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body {
    padding: 40px 15px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row {
    width: 100%;
    max-width: 470px;
    padding: 0;
    margin: 0 auto;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block.price {
    margin: 0 auto 0 0;
  }
  #wrapper-ordering main .section_ordering .container {
    max-width: 800px;
  }
  #wrapper-ordering main .section_ordering form .delivery_info .form-group.col-sm-6:nth-child(odd) {
    padding-right: 75px !important;
  }
  #wrapper-ordering main .section_ordering form .delivery_info .form-group.col-sm-6:nth-child(even) {
    padding-left: 75px !important;
  }
}
/*# sourceMappingURL=media-lg.css.map */