@media (min-width: 576px) {
  #wrapper-main header,
  #wrapper-products-list header,
  #wrapper-cart header,
  #wrapper-ordering header,
  #wrapper-product-selected header {
    margin: 15px 30px 0 30px;
  }
  #wrapper-main header .header_mobile .header_container,
  #wrapper-products-list header .header_mobile .header_container,
  #wrapper-cart header .header_mobile .header_container,
  #wrapper-ordering header .header_mobile .header_container,
  #wrapper-product-selected header .header_mobile .header_container {
    padding: 10px 0;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-ordering footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-product-selected footer .container .row [class*="col-12"]:nth-child(2n + 1) {
    padding-right: 20px !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-ordering footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-product-selected footer .container .row [class*="col-12"]:nth-child(2n) {
    padding-left: 20px !important;
  }
  #wrapper-main footer .left_block,
  #wrapper-products-list footer .left_block,
  #wrapper-cart footer .left_block,
  #wrapper-ordering footer .left_block,
  #wrapper-product-selected footer .left_block {
    margin-bottom: 60px;
  }
  #wrapper-main footer .left_block .logo,
  #wrapper-products-list footer .left_block .logo,
  #wrapper-cart footer .left_block .logo,
  #wrapper-ordering footer .left_block .logo,
  #wrapper-product-selected footer .left_block .logo {
    margin: 0 auto 20px 0;
  }
  #wrapper-main footer .left_block .text_about,
  #wrapper-products-list footer .left_block .text_about,
  #wrapper-cart footer .left_block .text_about,
  #wrapper-ordering footer .left_block .text_about,
  #wrapper-product-selected footer .left_block .text_about {
    width: 100%;
    max-width: 240px;
    margin: 0 auto 20px 0;
  }
  #wrapper-main footer .left_block .text_about p,
  #wrapper-products-list footer .left_block .text_about p,
  #wrapper-cart footer .left_block .text_about p,
  #wrapper-ordering footer .left_block .text_about p,
  #wrapper-product-selected footer .left_block .text_about p {
    text-align: left;
  }
  #wrapper-main footer .left_block .socials_container,
  #wrapper-products-list footer .left_block .socials_container,
  #wrapper-cart footer .left_block .socials_container,
  #wrapper-ordering footer .left_block .socials_container,
  #wrapper-product-selected footer .left_block .socials_container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #wrapper-main footer .right_block .list_title,
  #wrapper-products-list footer .right_block .list_title,
  #wrapper-cart footer .right_block .list_title,
  #wrapper-ordering footer .right_block .list_title,
  #wrapper-product-selected footer .right_block .list_title {
    text-align: left;
    margin-bottom: 37px;
  }
  #wrapper-main footer .right_block .list_container,
  #wrapper-products-list footer .right_block .list_container,
  #wrapper-cart footer .right_block .list_container,
  #wrapper-ordering footer .right_block .list_container,
  #wrapper-product-selected footer .right_block .list_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
  #wrapper-main footer .right_block .list_container .nav_list.first_child,
  #wrapper-products-list footer .right_block .list_container .nav_list.first_child,
  #wrapper-cart footer .right_block .list_container .nav_list.first_child,
  #wrapper-ordering footer .right_block .list_container .nav_list.first_child,
  #wrapper-product-selected footer .right_block .list_container .nav_list.first_child {
    margin-bottom: 0;
    width: 50%;
  }
  #wrapper-main footer .right_block .list_container .nav_list.second_child,
  #wrapper-products-list footer .right_block .list_container .nav_list.second_child,
  #wrapper-cart footer .right_block .list_container .nav_list.second_child,
  #wrapper-ordering footer .right_block .list_container .nav_list.second_child,
  #wrapper-product-selected footer .right_block .list_container .nav_list.second_child {
    width: 50%;
  }
  #wrapper-main footer .right_block .list_container .nav_list .list_item,
  #wrapper-products-list footer .right_block .list_container .nav_list .list_item,
  #wrapper-cart footer .right_block .list_container .nav_list .list_item,
  #wrapper-ordering footer .right_block .list_container .nav_list .list_item,
  #wrapper-product-selected footer .right_block .list_container .nav_list .list_item {
    text-align: left;
  }
  #wrapper-main footer .right_block .list_container .nav_list .list_item a,
  #wrapper-main footer .right_block .list_container .nav_list .list_item p,
  #wrapper-products-list footer .right_block .list_container .nav_list .list_item a,
  #wrapper-products-list footer .right_block .list_container .nav_list .list_item p,
  #wrapper-cart footer .right_block .list_container .nav_list .list_item a,
  #wrapper-cart footer .right_block .list_container .nav_list .list_item p,
  #wrapper-ordering footer .right_block .list_container .nav_list .list_item a,
  #wrapper-ordering footer .right_block .list_container .nav_list .list_item p,
  #wrapper-product-selected footer .right_block .list_container .nav_list .list_item a,
  #wrapper-product-selected footer .right_block .list_container .nav_list .list_item p {
    line-height: 22px;
  }
  #wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text {
    bottom: 120px;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.next {
    right: 40%;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.previous {
    left: 40%;
  }
  #wrapper-main main .section_second_slide {
    padding: 80px 0;
  }
  #wrapper-main main .section_second_slide .slide_container.news {
    margin-bottom: 80px;
  }
  #wrapper-main main .section_second_slide .slide_container .slide_title {
    font-size: 36px;
    margin-left: 45px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .carousel-cell {
    width: 290px;
    margin-right: 40px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .carousel-cell .image_container {
    height: 290px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button {
    top: -26%;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.next {
    right: 45px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.previous {
    left: unset;
    right: 17%;
  }
  #wrapper-main main .section_categories {
    padding-bottom: 60px;
  }
  #wrapper-main main .section_categories .categ_product_block.chains .inner_block {
    padding: 40px 0 40px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .inner_block {
    padding: 40px 35px 40px 0;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .inner_block {
    padding: 40px 0 40px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .inner_block {
    padding: 40px 35px 40px 0;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .inner_block {
    padding: 40px 0 40px 35px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block {
    padding: 40px 0;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.31px;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.62px;
  }
  #wrapper-main main .section_about_info {
    padding-bottom: 80px;
  }
  #wrapper-main main .section_about_info .text_info .title {
    font-size: 30px;
  }
  #wrapper-main main .section_about_info .text_info .text {
    font-size: 15px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .row [class*='col'] {
    margin-bottom: 30px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block {
    height: 240px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_text {
    margin-bottom: 20px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_text .text {
    font-size: 20px;
    letter-spacing: 0.42px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col'] {
    margin-bottom: 30px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(1) {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(odd) {
    padding-left: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(even) {
    padding-right: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text .text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.67px;
  }
  #wrapper-products-list main .section_products_list .product_block .product_image {
    height: 240px;
  }
  #wrapper-products-list main .section_products_list .product_block .product_info .product_text .text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.8px;
  }
  #wrapper-products-list main .section_products_list .pagination_nav {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  #wrapper-products-list main .filters_menu .filters_container {
    padding-top: 65px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filters_header {
    padding: 20px 30px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body {
    padding: 40px 15px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .filter_block.price {
    width: 100%;
    max-width: 340px;
    margin: 0 auto 40px auto;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row {
    padding: 0 20px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row .btn_container {
    max-width: 200px;
  }
  #wrapper-cart main {
    padding: 160px 0 60px 0;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body {
    padding-bottom: 40px;
    margin-bottom: 30px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block {
    max-width: 50%;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block .product_img {
    margin-right: 20px;
    height: 80px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block .product_text .text {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_right_block .product_price .text {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_right_block .product_remove .remove_btn {
    font-size: 15px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group label {
    margin-right: 20px;
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_count .form-group .input_container .input_number {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group label {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-select-trigger {
    padding: 9px 0 12px 18px;
    width: 80px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_numbers .product_size .form-group .custom-select-wrapper .custom-select .custom-select-trigger:after {
    right: 22px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .sum_total_container {
    padding-top: 0;
    width: 100%;
    max-width: 245px;
    margin: 0 0 0 auto;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .sum_total_container .text {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .sum_total_container .sum_count .text {
    font-size: 16px;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .bottom_btn_submit {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .bottom_btn_submit .btn_container .custom_btn {
    padding: 15px 50px;
  }
  #wrapper-ordering main {
    padding: 130px 0 100px 0;
  }
  #wrapper-ordering main .section_ordering .section_title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrapper-ordering main .section_ordering .section_title .title {
    font-size: 30px;
    margin-bottom: 0;
  }
  #wrapper-ordering main .section_ordering .section_title .btn_container .custom_btn {
    font-size: 16px;
  }
  #wrapper-ordering main .section_ordering form .order_info_container {
    margin-bottom: 80px;
  }
  #wrapper-ordering main .section_ordering form .order_info_container .order_table .table_body .product_order_row {
    padding: 20px 0;
  }
  #wrapper-ordering main .section_ordering form .order_info_container .order_table .table_body .product_order_row .product_detailed_info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrapper-ordering main .section_ordering form .order_info_container .order_table .table_body .product_order_row .product_detailed_info .inner_image {
    height: 80px;
    margin-right: 20px;
  }
  #wrapper-ordering main .section_ordering form .order_info_container .order_table .table_body .product_order_row .product_detailed_info .inner_text .text {
    font-size: 16px;
  }
  #wrapper-ordering main .section_ordering form .delivery_info .form-group.col-sm-6:nth-child(odd) {
    padding-right: 15px !important;
  }
  #wrapper-ordering main .section_ordering form .delivery_info .form-group.col-sm-6:nth-child(even) {
    padding-left: 15px !important;
  }
}
/*# sourceMappingURL=media-sm.css.map */