@media (min-width: 768px) {
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-ordering footer .container .row [class*="col-12"]:nth-child(2n + 1),
  #wrapper-product-selected footer .container .row [class*="col-12"]:nth-child(2n + 1) {
    padding-right: 65px !important;
  }
  #wrapper-main footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-products-list footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-cart footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-ordering footer .container .row [class*="col-12"]:nth-child(2n),
  #wrapper-product-selected footer .container .row [class*="col-12"]:nth-child(2n) {
    padding-left: 65px !important;
  }
  #wrapper-main footer .left_block .text_about,
  #wrapper-products-list footer .left_block .text_about,
  #wrapper-cart footer .left_block .text_about,
  #wrapper-ordering footer .left_block .text_about,
  #wrapper-product-selected footer .left_block .text_about {
    max-width: 100%;
  }
  #wrapper-main main .section_slide .main-carousel .carousel-cell .slide_text {
    max-width: 620px;
    bottom: 105px;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.next {
    right: 42.5%;
  }
  #wrapper-main main .section_slide .main-carousel .flickity-prev-next-button.previous {
    left: 42.5%;
  }
  #wrapper-main main .section_second_slide .slide_container.news {
    margin-bottom: 80px;
  }
  #wrapper-main main .section_second_slide .slide_container .slide_title {
    font-size: 36px;
    margin-left: 40px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .carousel-cell {
    margin-right: 40px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button {
    top: -26%;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.next {
    right: 40px;
  }
  #wrapper-main main .section_second_slide .slide_container .products-news-carousel .flickity-prev-next-button.previous {
    left: unset;
    right: 12%;
  }
  #wrapper-main main .section_categories {
    padding-bottom: 60px;
  }
  #wrapper-main main .section_categories .row .col-12.full_height {
    margin-bottom: 20px;
    padding-right: 10px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height.right_side {
    padding-left: 10px !important;
    padding-right: 0px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height .categ_product_block {
    height: 100%;
  }
  #wrapper-main main .section_categories .row .col-12.full_height .categ_product_block .inner_block {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_right {
    padding-left: 10px !important;
  }
  #wrapper-main main .section_categories .row .col-12.full_height_left {
    padding-right: 10px !important;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .bottom_img.left {
    right: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .bottom_img.left img {
    left: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .bottom_img.right {
    left: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block.rings .bottom_img.right img {
    left: unset !important;
    right: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.chains .inner_block {
    padding: 0 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.earrings .inner_block {
    padding: 40px 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.pendants .inner_block {
    padding: 40px 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block {
    padding: 40px 25px;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container {
    margin: 0 auto 0 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container .title {
    text-align: left;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container .text {
    text-align: left;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .inner_block .product_info_container .btn_container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #wrapper-main main .section_categories .categ_product_block.brilliants .bottom_img img {
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #wrapper-main main .section_categories .categ_product_block.crosses .inner_block {
    padding: 40px 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.biju .inner_block {
    padding: 40px 10px;
  }
  #wrapper-main main .section_categories .categ_product_block.pins .inner_block {
    padding: 0 10px;
  }
  #wrapper-main main .section_categories .categ_product_block .bottom_img {
    left: 0 !important;
    right: 0 !important;
  }
  #wrapper-main main .section_categories .categ_product_block .bottom_img img {
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    right: unset !important;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block {
    padding: 40px 0;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container {
    max-width: 330px;
    margin: 0 auto !important;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .title {
    text-align: center;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .text {
    text-align: center;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container.to-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper-main main .section_categories .categ_product_block .inner_block .product_info_container .btn_container.to-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrapper-main main .section_about_info {
    padding-bottom: 80px;
  }
  #wrapper-main main .section_about_info .text_info .title {
    font-size: 30px;
    max-width: 92%;
  }
  #wrapper-main main .section_about_info .text_info .text {
    font-size: 15px;
  }
  #wrapper-products-list main {
    margin-top: 150px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col'] {
    margin-bottom: 30px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(1) {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(odd) {
    padding-left: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .row [class*='col']:nth-child(even) {
    padding-right: 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text {
    padding: 25px 0;
  }
  #wrapper-products-list main .section_products_list .product_about .product_about_text .text {
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.83px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block {
    height: 330px;
  }
  #wrapper-products-list main .section_products_list .sub_categories_list .sub_category_block .inner_text {
    margin-bottom: 25px;
  }
  #wrapper-products-list main .section_products_list .product_block .product_image {
    height: 330px;
  }
  #wrapper-products-list main .filters_menu {
    margin: 15px;
    height: calc(100vh - 30px);
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body {
    padding: 40px 10px;
  }
  #wrapper-products-list main .filters_menu .filters_container .filter_body .btn_row {
    width: 100%;
    max-width: 470px;
    padding: 0;
    margin: 0 auto;
  }
  #wrapper-cart main {
    padding: 160px 0 60px 0;
  }
  #wrapper-cart main .section_cart .cart_detailed_block .form_container .cart_block_body .product_detailed .product_left_block {
    max-width: 70%;
  }
  #wrapper-ordering main {
    padding: 160px 0 80px 0;
  }
  #wrapper-ordering main .section_ordering .section_title .title {
    font-size: 36px;
  }
  #wrapper-ordering main .section_ordering .section_title .btn_container .custom_btn {
    padding: 15px 50px;
  }
  #wrapper-ordering main .section_ordering form .delivery_info .form-group.col-sm-6:nth-child(odd) {
    padding-right: 35px !important;
  }
  #wrapper-ordering main .section_ordering form .delivery_info .form-group.col-sm-6:nth-child(even) {
    padding-left: 35px !important;
  }
}
/*# sourceMappingURL=media-md.css.map */