body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
  list-style: none;
  box-shadow: none;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}
ul:hover,
li:hover,
a:hover,
p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover {
  text-decoration: none;
  box-shadow: none;
  outline: none;
  color: #000;
}
button {
  border: none;
  padding: 0;
  cursor: pointer;
}
select {
  border-radius: 0px !important;
}
button span {
  font-family: 'Fira Sans', sans-serif;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
.text,
.title {
  margin-bottom: 0;
}

input.error,
select.error,
textarea.error,
label.error{
  border: 1px solid red !important;
  border-radius: 0px !important;
}

.btn_container .btn_custom {
  position: relative;
  border: 1px solid #201600;
  transition: width 0.5s ease-out;
}
.btn_container .btn_custom:hover:before {
  width: 100%;
  opacity: 1;
  transition: 0.5s ease-out;
  left: 0;
  right: 0;
}
.btn_container .btn_custom:hover span {
  color: #201600;
}
.btn_container .btn_custom:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  width: 0;
  background-color: #fff;
  opacity: 0;
  z-index: 0;
  transition: 0.5s ease-out;
}
#wrapper-login main {
  position: relative;
  height: 100vh;
}
#wrapper-login main .section_login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}
#wrapper-login main .section_login .auth_container {
  display: flex;
  flex-direction: column;
}
#wrapper-login main .section_login .auth_container .image_container {
  margin-bottom: 40px;
  text-align: center;
}
#wrapper-login main .section_login .auth_container .input_form .input_container {
  margin-bottom: 40px;
}
#wrapper-login main .section_login .auth_container .input_form .input_container:last-child {
  margin-bottom: 0;
}
#wrapper-login main .section_login .auth_container .input_form .input_container .sub_title {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
#wrapper-login main .section_login .auth_container .input_form .input_container input {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  width: 100%;
  border: 1px solid #e7e7e7;
  transition: border 0.3s ease-out;
}
#wrapper-login main .section_login .auth_container .input_form .input_container input:focus {
  outline: none;
  border: 1px solid #bbbaba;
}
#wrapper-login main .section_login .auth_container .input_form .input_container input::placeholder {
  color: #a6a299;
}
#wrapper-login main .section_login .auth_container .input_form .btn_container {
  text-align: center;
  margin-bottom: 15px;
}
#wrapper-login main .section_login .auth_container .input_form .btn_container .btn_custom {
  background-color: #201600;
  padding: 15px 80px;
}
#wrapper-login main .section_login .auth_container .input_form .btn_container .btn_custom:hover span {
  color: #201600;
}
#wrapper-login main .section_login .auth_container .input_form .btn_container .btn_custom span {
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
#wrapper-login main .section_login .auth_container .input_form .error_msg {
  display: none;
  color: #d0021b;
  font-size: 16px;
  font-weight: 300;
}
#wrapper-orders,
#wrapper-products,
#wrapper-order-info,
#wrapper-users,
#wrapper-settings,
#wrapper-product-info,
#wrapper-reviews {
  background-color: #f2f2f2;
}
#wrapper-orders header,
#wrapper-products header,
#wrapper-order-info header,
#wrapper-users header,
#wrapper-settings header,
#wrapper-product-info header,
#wrapper-reviews header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 230px;
  height: 100vh;
  background-color: #161616;
}
#wrapper-orders header .nav_container,
#wrapper-products header .nav_container,
#wrapper-order-info header .nav_container,
#wrapper-users header .nav_container,
#wrapper-settings header .nav_container,
#wrapper-product-info header .nav_container,
#wrapper-reviews header .nav_container {
  padding: 25px 25px 0 25px;
}
#wrapper-orders header .nav_container .logo_container,
#wrapper-products header .nav_container .logo_container,
#wrapper-order-info header .nav_container .logo_container,
#wrapper-users header .nav_container .logo_container,
#wrapper-settings header .nav_container .logo_container,
#wrapper-product-info header .nav_container .logo_container,
#wrapper-reviews header .nav_container .logo_container {
  text-align: center;
  margin-bottom: 45px;
}
#wrapper-orders header .nav_container .nav_menu .nav_item,
#wrapper-products header .nav_container .nav_menu .nav_item,
#wrapper-order-info header .nav_container .nav_menu .nav_item,
#wrapper-users header .nav_container .nav_menu .nav_item,
#wrapper-settings header .nav_container .nav_menu .nav_item,
#wrapper-product-info header .nav_container .nav_menu .nav_item,
#wrapper-reviews header .nav_container .nav_menu .nav_item {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#wrapper-orders header .nav_container .nav_menu .nav_item:last-child,
#wrapper-products header .nav_container .nav_menu .nav_item:last-child,
#wrapper-order-info header .nav_container .nav_menu .nav_item:last-child,
#wrapper-users header .nav_container .nav_menu .nav_item:last-child,
#wrapper-settings header .nav_container .nav_menu .nav_item:last-child,
#wrapper-product-info header .nav_container .nav_menu .nav_item:last-child,
#wrapper-reviews header .nav_container .nav_menu .nav_item:last-child {
  margin-bottom: 0;
}
#wrapper-orders header .nav_container .nav_menu .nav_item a,
#wrapper-products header .nav_container .nav_menu .nav_item a,
#wrapper-order-info header .nav_container .nav_menu .nav_item a,
#wrapper-users header .nav_container .nav_menu .nav_item a,
#wrapper-settings header .nav_container .nav_menu .nav_item a,
#wrapper-product-info header .nav_container .nav_menu .nav_item a,
#wrapper-reviews header .nav_container .nav_menu .nav_item a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#wrapper-orders header .nav_container .nav_menu .nav_item a .img_container,
#wrapper-products header .nav_container .nav_menu .nav_item a .img_container,
#wrapper-order-info header .nav_container .nav_menu .nav_item a .img_container,
#wrapper-users header .nav_container .nav_menu .nav_item a .img_container,
#wrapper-settings header .nav_container .nav_menu .nav_item a .img_container,
#wrapper-product-info header .nav_container .nav_menu .nav_item a .img_container,
#wrapper-reviews header .nav_container .nav_menu .nav_item a .img_container {
  width: 32px;
  height: 32px;
}
#wrapper-orders header .nav_container .nav_menu .nav_item a .img_container img,
#wrapper-products header .nav_container .nav_menu .nav_item a .img_container img,
#wrapper-order-info header .nav_container .nav_menu .nav_item a .img_container img,
#wrapper-users header .nav_container .nav_menu .nav_item a .img_container img,
#wrapper-settings header .nav_container .nav_menu .nav_item a .img_container img,
#wrapper-product-info header .nav_container .nav_menu .nav_item a .img_container img,
#wrapper-reviews header .nav_container .nav_menu .nav_item a .img_container img {
  width: 100%;
  height: 100%;
}
#wrapper-orders header .nav_container .nav_menu .nav_item a .text,
#wrapper-products header .nav_container .nav_menu .nav_item a .text,
#wrapper-order-info header .nav_container .nav_menu .nav_item a .text,
#wrapper-users header .nav_container .nav_menu .nav_item a .text,
#wrapper-settings header .nav_container .nav_menu .nav_item a .text,
#wrapper-product-info header .nav_container .nav_menu .nav_item a .text,
#wrapper-reviews header .nav_container .nav_menu .nav_item a .text {
  margin-left: 20px;
}
#wrapper-orders header .nav_container .nav_menu .nav_item a .text p,
#wrapper-products header .nav_container .nav_menu .nav_item a .text p,
#wrapper-order-info header .nav_container .nav_menu .nav_item a .text p,
#wrapper-users header .nav_container .nav_menu .nav_item a .text p,
#wrapper-settings header .nav_container .nav_menu .nav_item a .text p,
#wrapper-product-info header .nav_container .nav_menu .nav_item a .text p,
#wrapper-reviews header .nav_container .nav_menu .nav_item a .text p {
  font-family: 'Fira Sans';
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
#wrapper-orders main,
#wrapper-products main,
#wrapper-order-info main,
#wrapper-users main,
#wrapper-settings main,
#wrapper-product-info main,
#wrapper-reviews main {
  margin-left: 230px;
  height: 100vh;
}
#wrapper-orders main .section_main,
#wrapper-products main .section_main,
#wrapper-order-info main .section_main,
#wrapper-users main .section_main,
#wrapper-settings main .section_main,
#wrapper-product-info main .section_main,
#wrapper-reviews main .section_main {
  position: relative;
}
#wrapper-orders main .table_main,
#wrapper-products main .table_main,
#wrapper-order-info main .table_main,
#wrapper-users main .table_main,
#wrapper-settings main .table_main,
#wrapper-product-info main .table_main,
#wrapper-reviews main .table_main {
  height: calc(100vh - 163px);
  margin: 20px 20px 60px 20px !important;
  overflow: hidden;
}
#wrapper-orders main .pagination_container,
#wrapper-products main .pagination_container,
#wrapper-order-info main .pagination_container,
#wrapper-users main .pagination_container,
#wrapper-settings main .pagination_container,
#wrapper-product-info main .pagination_container,
#wrapper-reviews main .pagination_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: -40px;
  right: 50px;
}
#wrapper-orders main .pagination_container .page_count,
#wrapper-products main .pagination_container .page_count,
#wrapper-order-info main .pagination_container .page_count,
#wrapper-users main .pagination_container .page_count,
#wrapper-settings main .pagination_container .page_count,
#wrapper-product-info main .pagination_container .page_count,
#wrapper-reviews main .pagination_container .page_count {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}
#wrapper-orders main .pagination_container .page_count p,
#wrapper-products main .pagination_container .page_count p,
#wrapper-order-info main .pagination_container .page_count p,
#wrapper-users main .pagination_container .page_count p,
#wrapper-settings main .pagination_container .page_count p,
#wrapper-product-info main .pagination_container .page_count p,
#wrapper-reviews main .pagination_container .page_count p,
#wrapper-orders main .pagination_container .page_count span,
#wrapper-products main .pagination_container .page_count span,
#wrapper-order-info main .pagination_container .page_count span,
#wrapper-users main .pagination_container .page_count span,
#wrapper-settings main .pagination_container .page_count span,
#wrapper-product-info main .pagination_container .page_count span,
#wrapper-reviews main .pagination_container .page_count span {
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  margin-right: 5px;
}
#wrapper-orders main .pagination_container .page_count p:last-child,
#wrapper-products main .pagination_container .page_count p:last-child,
#wrapper-order-info main .pagination_container .page_count p:last-child,
#wrapper-users main .pagination_container .page_count p:last-child,
#wrapper-settings main .pagination_container .page_count p:last-child,
#wrapper-product-info main .pagination_container .page_count p:last-child,
#wrapper-reviews main .pagination_container .page_count p:last-child,
#wrapper-orders main .pagination_container .page_count span:last-child,
#wrapper-products main .pagination_container .page_count span:last-child,
#wrapper-order-info main .pagination_container .page_count span:last-child,
#wrapper-users main .pagination_container .page_count span:last-child,
#wrapper-settings main .pagination_container .page_count span:last-child,
#wrapper-product-info main .pagination_container .page_count span:last-child,
#wrapper-reviews main .pagination_container .page_count span:last-child {
  margin-right: 0;
}
#wrapper-orders main .pagination_container .nav_container a:first-child,
#wrapper-products main .pagination_container .nav_container a:first-child,
#wrapper-order-info main .pagination_container .nav_container a:first-child,
#wrapper-users main .pagination_container .nav_container a:first-child,
#wrapper-settings main .pagination_container .nav_container a:first-child,
#wrapper-product-info main .pagination_container .nav_container a:first-child,
#wrapper-reviews main .pagination_container .nav_container a:first-child {
  margin-right: 30px;
}
#wrapper-orders main .header_search,
#wrapper-products main .header_search,
#wrapper-order-info main .header_search,
#wrapper-users main .header_search,
#wrapper-settings main .header_search,
#wrapper-product-info main .header_search,
#wrapper-reviews main .header_search {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 40px;
}
#wrapper-orders main .header_search .title,
#wrapper-products main .header_search .title,
#wrapper-order-info main .header_search .title,
#wrapper-users main .header_search .title,
#wrapper-settings main .header_search .title,
#wrapper-product-info main .header_search .title,
#wrapper-reviews main .header_search .title {
  margin-right: 35px;
}
#wrapper-orders main .header_search .title h1,
#wrapper-products main .header_search .title h1,
#wrapper-order-info main .header_search .title h1,
#wrapper-users main .header_search .title h1,
#wrapper-settings main .header_search .title h1,
#wrapper-product-info main .header_search .title h1,
#wrapper-reviews main .header_search .title h1 {
  color: #201600;
  font-size: 24px;
  font-weight: 400;
}
#wrapper-orders main .header_search form,
#wrapper-products main .header_search form,
#wrapper-order-info main .header_search form,
#wrapper-users main .header_search form,
#wrapper-settings main .header_search form,
#wrapper-product-info main .header_search form,
#wrapper-reviews main .header_search form {
  display: flex;
  flex-grow: 1;
}
#wrapper-orders main .header_search form .input_container,
#wrapper-products main .header_search form .input_container,
#wrapper-order-info main .header_search form .input_container,
#wrapper-users main .header_search form .input_container,
#wrapper-settings main .header_search form .input_container,
#wrapper-product-info main .header_search form .input_container,
#wrapper-reviews main .header_search form .input_container {
  position: relative;
  width: 100%;
}
#wrapper-orders main .header_search form .input_container button,
#wrapper-products main .header_search form .input_container button,
#wrapper-order-info main .header_search form .input_container button,
#wrapper-users main .header_search form .input_container button,
#wrapper-settings main .header_search form .input_container button,
#wrapper-product-info main .header_search form .input_container button,
#wrapper-reviews main .header_search form .input_container button {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  background: transparent;
}
#wrapper-orders main .header_search form .input_container button img,
#wrapper-products main .header_search form .input_container button img,
#wrapper-order-info main .header_search form .input_container button img,
#wrapper-users main .header_search form .input_container button img,
#wrapper-settings main .header_search form .input_container button img,
#wrapper-product-info main .header_search form .input_container button img,
#wrapper-reviews main .header_search form .input_container button img {
  width: 17px;
  height: 17px;
}
#wrapper-orders main .header_search form .input_container #search,
#wrapper-products main .header_search form .input_container #search,
#wrapper-order-info main .header_search form .input_container #search,
#wrapper-users main .header_search form .input_container #search,
#wrapper-settings main .header_search form .input_container #search,
#wrapper-product-info main .header_search form .input_container #search,
#wrapper-reviews main .header_search form .input_container #search {
  width: 100%;
  padding: 11px 0 11px 60px;
  color: #898989;
  font-size: 18px;
  font-weight: 300;
  background-color: #f2f2f2;
  border: none;
}
#wrapper-orders main .table_container,
#wrapper-products main .table_container,
#wrapper-order-info main .table_container,
#wrapper-users main .table_container,
#wrapper-settings main .table_container,
#wrapper-product-info main .table_container,
#wrapper-reviews main .table_container {
  position: relative;
  background-color: #fff;
  height: 100%;
  padding: 30px;
  overflow: auto;
}
#wrapper-orders main .table_container table,
#wrapper-products main .table_container table,
#wrapper-order-info main .table_container table,
#wrapper-users main .table_container table,
#wrapper-settings main .table_container table,
#wrapper-product-info main .table_container table,
#wrapper-reviews main .table_container table {
  width: 100%;
}
#wrapper-orders main .table_container table thead tr,
#wrapper-products main .table_container table thead tr,
#wrapper-order-info main .table_container table thead tr,
#wrapper-users main .table_container table thead tr,
#wrapper-settings main .table_container table thead tr,
#wrapper-product-info main .table_container table thead tr,
#wrapper-reviews main .table_container table thead tr {
  border-bottom: 3px solid #201600;
}
#wrapper-orders main .table_container table thead tr th,
#wrapper-products main .table_container table thead tr th,
#wrapper-order-info main .table_container table thead tr th,
#wrapper-users main .table_container table thead tr th,
#wrapper-settings main .table_container table thead tr th,
#wrapper-product-info main .table_container table thead tr th,
#wrapper-reviews main .table_container table thead tr th {
  text-align: left;
  padding-bottom: 10px;
}
#wrapper-orders main .table_container table thead tr th:last-child,
#wrapper-products main .table_container table thead tr th:last-child,
#wrapper-order-info main .table_container table thead tr th:last-child,
#wrapper-users main .table_container table thead tr th:last-child,
#wrapper-settings main .table_container table thead tr th:last-child,
#wrapper-product-info main .table_container table thead tr th:last-child,
#wrapper-reviews main .table_container table thead tr th:last-child {
  text-align: right;
}
#wrapper-orders main .table_container table thead tr th p,
#wrapper-products main .table_container table thead tr th p,
#wrapper-order-info main .table_container table thead tr th p,
#wrapper-users main .table_container table thead tr th p,
#wrapper-settings main .table_container table thead tr th p,
#wrapper-product-info main .table_container table thead tr th p,
#wrapper-reviews main .table_container table thead tr th p {
  color: #201600;
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
}
#wrapper-orders main .table_container table tbody,
#wrapper-products main .table_container table tbody,
#wrapper-order-info main .table_container table tbody,
#wrapper-users main .table_container table tbody,
#wrapper-settings main .table_container table tbody,
#wrapper-product-info main .table_container table tbody,
#wrapper-reviews main .table_container table tbody {
  overflow-y: auto;
}
#wrapper-orders main .table_container table tbody tr,
#wrapper-products main .table_container table tbody tr,
#wrapper-order-info main .table_container table tbody tr,
#wrapper-users main .table_container table tbody tr,
#wrapper-settings main .table_container table tbody tr,
#wrapper-product-info main .table_container table tbody tr,
#wrapper-reviews main .table_container table tbody tr {
  border-bottom: 1px solid #e7e7e7;
}
#wrapper-orders main .table_container table tbody tr:last-child,
#wrapper-products main .table_container table tbody tr:last-child,
#wrapper-order-info main .table_container table tbody tr:last-child,
#wrapper-users main .table_container table tbody tr:last-child,
#wrapper-settings main .table_container table tbody tr:last-child,
#wrapper-product-info main .table_container table tbody tr:last-child,
#wrapper-reviews main .table_container table tbody tr:last-child {
  border-bottom: none;
}
#wrapper-orders main .table_container table tbody tr th,
#wrapper-products main .table_container table tbody tr th,
#wrapper-order-info main .table_container table tbody tr th,
#wrapper-users main .table_container table tbody tr th,
#wrapper-settings main .table_container table tbody tr th,
#wrapper-product-info main .table_container table tbody tr th,
#wrapper-reviews main .table_container table tbody tr th {
  position: relative;
  text-align: left;
  padding: 50px 0;
}
#wrapper-orders main .table_container table tbody tr th:last-child,
#wrapper-products main .table_container table tbody tr th:last-child,
#wrapper-order-info main .table_container table tbody tr th:last-child,
#wrapper-users main .table_container table tbody tr th:last-child,
#wrapper-settings main .table_container table tbody tr th:last-child,
#wrapper-product-info main .table_container table tbody tr th:last-child,
#wrapper-reviews main .table_container table tbody tr th:last-child {
  text-align: right;
}
#wrapper-orders main .table_container table tbody tr th:nth-child(1),
#wrapper-products main .table_container table tbody tr th:nth-child(1),
#wrapper-order-info main .table_container table tbody tr th:nth-child(1),
#wrapper-users main .table_container table tbody tr th:nth-child(1),
#wrapper-settings main .table_container table tbody tr th:nth-child(1),
#wrapper-product-info main .table_container table tbody tr th:nth-child(1),
#wrapper-reviews main .table_container table tbody tr th:nth-child(1) {
  width: 18.5%;
}
#wrapper-orders main .table_container table tbody tr th:nth-child(2),
#wrapper-products main .table_container table tbody tr th:nth-child(2),
#wrapper-order-info main .table_container table tbody tr th:nth-child(2),
#wrapper-users main .table_container table tbody tr th:nth-child(2),
#wrapper-settings main .table_container table tbody tr th:nth-child(2),
#wrapper-product-info main .table_container table tbody tr th:nth-child(2),
#wrapper-reviews main .table_container table tbody tr th:nth-child(2) {
  width: 26%;
}
#wrapper-orders main .table_container table tbody tr th:nth-child(3),
#wrapper-products main .table_container table tbody tr th:nth-child(3),
#wrapper-order-info main .table_container table tbody tr th:nth-child(3),
#wrapper-users main .table_container table tbody tr th:nth-child(3),
#wrapper-settings main .table_container table tbody tr th:nth-child(3),
#wrapper-product-info main .table_container table tbody tr th:nth-child(3),
#wrapper-reviews main .table_container table tbody tr th:nth-child(3) {
  width: 14%;
}
#wrapper-orders main .table_container table tbody tr th:nth-child(4),
#wrapper-products main .table_container table tbody tr th:nth-child(4),
#wrapper-order-info main .table_container table tbody tr th:nth-child(4),
#wrapper-users main .table_container table tbody tr th:nth-child(4),
#wrapper-settings main .table_container table tbody tr th:nth-child(4),
#wrapper-product-info main .table_container table tbody tr th:nth-child(4),
#wrapper-reviews main .table_container table tbody tr th:nth-child(4) {
  width: 20%;
}
#wrapper-orders main .table_container table tbody tr th:nth-child(5),
#wrapper-products main .table_container table tbody tr th:nth-child(5),
#wrapper-order-info main .table_container table tbody tr th:nth-child(5),
#wrapper-users main .table_container table tbody tr th:nth-child(5),
#wrapper-settings main .table_container table tbody tr th:nth-child(5),
#wrapper-product-info main .table_container table tbody tr th:nth-child(5),
#wrapper-reviews main .table_container table tbody tr th:nth-child(5) {
  width: 15%;
}
#wrapper-orders main .table_container table tbody tr th:nth-child(6),
#wrapper-products main .table_container table tbody tr th:nth-child(6),
#wrapper-order-info main .table_container table tbody tr th:nth-child(6),
#wrapper-users main .table_container table tbody tr th:nth-child(6),
#wrapper-settings main .table_container table tbody tr th:nth-child(6),
#wrapper-product-info main .table_container table tbody tr th:nth-child(6),
#wrapper-reviews main .table_container table tbody tr th:nth-child(6) {
  width: 6.5%;
}
#wrapper-orders main .table_container table tbody tr th p,
#wrapper-products main .table_container table tbody tr th p,
#wrapper-order-info main .table_container table tbody tr th p,
#wrapper-users main .table_container table tbody tr th p,
#wrapper-settings main .table_container table tbody tr th p,
#wrapper-product-info main .table_container table tbody tr th p,
#wrapper-reviews main .table_container table tbody tr th p {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  padding: 0 11px;
}
#wrapper-orders main .table_container table tbody tr th .order_button,
#wrapper-products main .table_container table tbody tr th .order_button,
#wrapper-order-info main .table_container table tbody tr th .order_button,
#wrapper-users main .table_container table tbody tr th .order_button,
#wrapper-settings main .table_container table tbody tr th .order_button,
#wrapper-product-info main .table_container table tbody tr th .order_button,
#wrapper-reviews main .table_container table tbody tr th .order_button {
  cursor: pointer;
}
#wrapper-orders main .table_container table tbody tr th .order_button .detailed_block,
#wrapper-products main .table_container table tbody tr th .order_button .detailed_block,
#wrapper-order-info main .table_container table tbody tr th .order_button .detailed_block,
#wrapper-users main .table_container table tbody tr th .order_button .detailed_block,
#wrapper-settings main .table_container table tbody tr th .order_button .detailed_block,
#wrapper-product-info main .table_container table tbody tr th .order_button .detailed_block,
#wrapper-reviews main .table_container table tbody tr th .order_button .detailed_block {
  position: absolute;
  right: 0;
  bottom: -60px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #201600;
  z-index: 1;
  display: none;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
}
#wrapper-orders main .table_container table tbody tr th .order_button .detailed_block.active,
#wrapper-products main .table_container table tbody tr th .order_button .detailed_block.active,
#wrapper-order-info main .table_container table tbody tr th .order_button .detailed_block.active,
#wrapper-users main .table_container table tbody tr th .order_button .detailed_block.active,
#wrapper-settings main .table_container table tbody tr th .order_button .detailed_block.active,
#wrapper-product-info main .table_container table tbody tr th .order_button .detailed_block.active,
#wrapper-reviews main .table_container table tbody tr th .order_button .detailed_block.active {
  display: flex;
}
#wrapper-orders main .table_container table tbody tr th .order_button .detailed_block .text_btn,
#wrapper-products main .table_container table tbody tr th .order_button .detailed_block .text_btn,
#wrapper-order-info main .table_container table tbody tr th .order_button .detailed_block .text_btn,
#wrapper-users main .table_container table tbody tr th .order_button .detailed_block .text_btn,
#wrapper-settings main .table_container table tbody tr th .order_button .detailed_block .text_btn,
#wrapper-product-info main .table_container table tbody tr th .order_button .detailed_block .text_btn,
#wrapper-reviews main .table_container table tbody tr th .order_button .detailed_block .text_btn {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.71px;
  margin-bottom: 15px;
}
#wrapper-orders main .table_container table tbody tr th .order_button .detailed_block .text_btn:last-child,
#wrapper-products main .table_container table tbody tr th .order_button .detailed_block .text_btn:last-child,
#wrapper-order-info main .table_container table tbody tr th .order_button .detailed_block .text_btn:last-child,
#wrapper-users main .table_container table tbody tr th .order_button .detailed_block .text_btn:last-child,
#wrapper-settings main .table_container table tbody tr th .order_button .detailed_block .text_btn:last-child,
#wrapper-product-info main .table_container table tbody tr th .order_button .detailed_block .text_btn:last-child,
#wrapper-reviews main .table_container table tbody tr th .order_button .detailed_block .text_btn:last-child {
  margin-bottom: 0;
}
#wrapper-products main .header_search .input_container {
  margin-right: 20px;
}
#wrapper-products main .header_search .add_btn {
  position: relative;
  width: 5%;
  height: 50px;
  background-color: #161616;
}
#wrapper-products main .header_search .add_btn a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#wrapper-products main .header_search .add_btn a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}
#wrapper-products main .table_container {
  position: relative;
  background-color: #fff;
  height: 100%;
  padding: 30px;
  overflow: auto;
}
#wrapper-products main .table_container table tbody tr th {
  padding: 20px 0;
}
#wrapper-products main .table_container table tbody tr th:nth-child(1) {
  width: 30%;
}
#wrapper-products main .table_container table tbody tr th:nth-child(2) {
  width: 12%;
}
#wrapper-products main .table_container table tbody tr th:nth-child(3) {
  width: 15%;
}
#wrapper-products main .table_container table tbody tr th:nth-child(4) {
  width: 14%;
}
#wrapper-products main .table_container table tbody tr th:nth-child(5) {
  width: 12%;
}
#wrapper-products main .table_container table tbody tr th:nth-child(6) {
  width: 11%;
}
#wrapper-products main .table_container table tbody tr th:nth-child(7) {
  width: 6%;
}
#wrapper-products main .table_container table tbody tr th .order_button .detailed_block {
  bottom: -105px;
}
#wrapper-products main .table_container table tbody tr th .product_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#wrapper-products main .table_container table tbody tr th .product_container .product_image {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
#wrapper-products main .table_container table tbody tr th .product_container .product_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wrapper-products main .table_container table tbody tr th .product_container .product_name p {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
}
#wrapper-order-info main .header_search {
  padding: 25px 40px;
}
#wrapper-order-info main .header_search .title {
  margin-right: 0;
}
#wrapper-order-info main .order_info_container {
  height: calc(100vh - 118px);
  margin: 20px !important;
  overflow: auto;
  background-color: #fff;
}
#wrapper-order-info main .order_info_container .row .order_block:first-child {
  padding: 20px 10px 0 20px !important;
}
#wrapper-order-info main .order_info_container .row .order_block:last-child {
  padding: 20px 20px 0 10px !important;
}
#wrapper-order-info main .order_info_container .order_form .form_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
#wrapper-order-info main .order_info_container .order_form .form_title h1,
#wrapper-order-info main .order_info_container .order_form .form_title h2 {
  color: #201600;
  font-size: 18px;
  font-weight: 400;
}
#wrapper-order-info main .order_info_container .order_form .form_title h2 {
  opacity: 0.4;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .row .col-6:nth-child(2n) .input_container {
  margin-left: 10px;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .row .col-6:nth-child(2n + 1) .input_container {
  margin-right: 10px;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .row .col-6:last-child .input_container {
  margin-left: 0;
  margin-bottom: 30px;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .input_container {
  margin-bottom: 30px;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .input_container .input_lable {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 8px;
  text-transform: lowercase;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .input_container .input_lable::first-letter {
  text-transform: uppercase;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .input_container input {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  width: 100%;
  border: 1px solid #e7e7e7;
  transition: border 0.3s ease-out;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .input_container input:focus {
  outline: none;
  border: 1px solid #bbbaba;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .input_container input::placeholder {
  color: #a6a299;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .input_container textarea {
  width: 100%;
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  resize: vertical;
  border: 1px solid #e7e7e7;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .input_container textarea:focus {
  outline: none;
  border: 1px solid #bbbaba;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .input_container .styled-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 0 10px;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .input_container .styled-select .styled {
  outline: none;
  height: 54px;
  text-align: center;
  border: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
  color: #201600;
  font-size: 16px;
  font-weight: 300;
}
#wrapper-order-info main .order_info_container .order_form .form_order_info .input_container .styled-select .styled option {
  width: 100%;
}
#wrapper-order-info main .order_info_container .order_form .btn_container .custom_btn {
  position: relative;
  padding: 15px 40px;
  background-color: #fff;
  border: 1px solid #000;
  margin-right: 20px;
}
#wrapper-order-info main .order_info_container .order_form .btn_container .custom_btn:last-child {
  margin-right: 0;
}
#wrapper-order-info main .order_info_container .order_form .btn_container .custom_btn.save {
  background-color: #201600;
}
#wrapper-order-info main .order_info_container .order_form .btn_container .custom_btn.save span {
  color: #fff;
}
#wrapper-order-info main .order_info_container .order_form .btn_container .custom_btn a,
#wrapper-order-info main .order_info_container .order_form .btn_container .custom_btn span {
  font-size: 16px;
  font-weight: 400;
  color: #201600;
}
#wrapper-order-info main .order_info_container .order_list .form_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
#wrapper-order-info main .order_info_container .order_list .form_title h1 {
  color: #201600;
  font-size: 18px;
  font-weight: 400;
}
#wrapper-order-info main .order_info_container .order_list .list_container {
  border-bottom: 1px solid #e7e7e7;
}
#wrapper-order-info main .order_info_container .order_list .list_container .product_info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}
#wrapper-order-info main .order_info_container .order_list .list_container .product_info .product_img_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#wrapper-order-info main .order_info_container .order_list .list_container .product_info .product_img_name .image_container {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
#wrapper-order-info main .order_info_container .order_list .list_container .product_info .product_img_name .image_container img {
  width: 100%;
  height: 100%;
}
#wrapper-order-info main .order_info_container .order_list .list_container .product_info .product_img_name .product_name p,
#wrapper-order-info main .order_info_container .order_list .list_container .product_info .product_img_name .product_name span {
  font-size: 16px;
  font-weight: 400;
  color: #201600;
}
#wrapper-order-info main .order_info_container .order_list .list_container .product_info .product_price .text {
  margin-bottom: 10px;
}
#wrapper-order-info main .order_info_container .order_list .list_container .product_info .product_price .text p {
  font-size: 16px;
  font-weight: 700;
  color: #201600;
}
#wrapper-order-info main .order_info_container .order_list .list_container .product_info .product_price .btn_container a {
  font-size: 15px;
  font-weight: 300;
  opacity: 0.4;
  color: #201600;
}
#wrapper-order-info main .order_info_container .order_list .sum_all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
#wrapper-order-info main .order_info_container .order_list .sum_all .text p {
  font-size: 16px;
  font-weight: 400;
  color: #201600;
}
#wrapper-order-info main .order_info_container .order_list .sum_all .text p.sum {
  font-weight: 700;
}
#wrapper-users main .section_main .table_container table tbody tr th:nth-child(1) {
  width: 15%;
}
#wrapper-users main .section_main .table_container table tbody tr th:nth-child(2) {
  width: 20%;
}
#wrapper-users main .section_main .table_container table tbody tr th:nth-child(3) {
  width: 20%;
}
#wrapper-users main .section_main .table_container table tbody tr th:nth-child(4) {
  width: 20%;
}
#wrapper-users main .section_main .table_container table tbody tr th:nth-child(5) {
  width: 9%;
}
#wrapper-users main .section_main .table_container table tbody tr th:nth-child(6) {
  width: 8%;
}
#wrapper-users main .section_main .table_container table tbody tr th:nth-child(7) {
  width: 8%;
}
#wrapper-settings main .header_search {
  padding: 25px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#wrapper-settings main .header_search .title {
  margin-right: 0;
}
#wrapper-settings main .header_search .btn_container form button {
  padding: 15px 45px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.33px;
}
#wrapper-settings main .settings_container {
  height: calc(100vh - 146px);
  margin: 20px !important;
  overflow: auto;
  background-color: #fff;
}
#wrapper-settings main .settings_container .settings_form .form_title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  padding: 20px 20px 0 20px;
}
#wrapper-settings main .settings_container .settings_form .form_title h1 {
  color: #201600;
  font-size: 18px;
  font-weight: 400;
}
#wrapper-settings main .settings_container .settings_form .form_settings_pass .row {
  padding: 0 8px;
}
#wrapper-settings main .settings_container .settings_form .form_settings_pass .row .col-4 {
  padding: 0 12px !important;
}
#wrapper-settings main .settings_container .settings_form .form_settings_pass .input_container {
  margin-bottom: 30px;
}
#wrapper-settings main .settings_container .settings_form .form_settings_pass .input_container .input_lable {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 8px;
}
#wrapper-settings main .settings_container .settings_form .form_settings_pass .input_container input {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  width: 100%;
  border: 1px solid #e7e7e7;
  transition: border 0.3s ease-out;
}
#wrapper-settings main .settings_container .settings_form .form_settings_pass .input_container input:focus {
  outline: none;
  border: 1px solid #bbbaba;
}
#wrapper-settings main .settings_container .settings_form .form_settings_pass .input_container input::placeholder {
  color: #a6a299;
}
#wrapper-settings main .settings_container .settings_form .btn_container {
  margin-bottom: 60px;
  padding: 0 20px;
}
#wrapper-settings main .settings_container .settings_form .btn_container .custom_btn {
  position: relative;
  padding: 15px 75px;
  background-color: #201600;
  border: 1px solid #000;
  margin-right: 20px;
}
#wrapper-settings main .settings_container .settings_form .btn_container .custom_btn:last-child {
  margin-right: 0;
}
#wrapper-settings main .settings_container .settings_form .btn_container .custom_btn span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.33px;
}
#wrapper-product-info main .header_search {
  padding: 25px 40px;
}
#wrapper-product-info main .header_search .title {
  margin-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#wrapper-product-info main .header_search .title img {
  width: 9px;
  height: 16px;
}
#wrapper-product-info main .header_search .title span {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 400;
  color: #201600;
}
#wrapper-product-info main .product_info_container {
  height: calc(100vh - 126px);
  margin: 20px !important;
  overflow: auto;
  background-color: #fff;
}
#wrapper-product-info main .product_info_container .row .product_block:first-child {
  padding: 20px 15px 0 20px !important;
}
#wrapper-product-info main .product_info_container .row .product_block:last-child {
  padding: 20px 20px 0 15px !important;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .row .col-6:nth-child(2n) .input_container {
  margin-right: 10px;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .row .col-6:nth-child(2n + 1) .input_container {
  margin-left: 10px;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .row .col-6 .row .col-6:nth-child(2n+1) .input_container {
  margin-right: 5px;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .row .col-6 .row .col-6:nth-child(2n) .input_container {
  margin-right: 0;
  margin-left: 5px;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .row .col-3 .input_container {
  margin-left: 20px;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .images_block {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .images_block .image_container {
  width: 175px;
  height: 175px;
  margin-right: 10px;
  position: relative;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .images_block .image_container:last-child {
  margin-right: 0;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .images_block .image_container .added_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .images_block .image_container label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  margin-bottom: 0;
  z-index: 1;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .images_block .image_container label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .images_block .image_container input {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .images_block .image_container a {
  position: absolute;
  top: -12px;
  right: -8px;
  z-index: 2;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .images_block .image_container a img {
  width: 18px;
  height: auto;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .btn_container {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-left: 20px;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .btn_container #image-preview,
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .btn_container #video-preview {
  position: relative;
  background-color: #ffffff;
  color: #ecf0f1;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .btn_container #image-preview input,
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .btn_container #video-preview input {
  position: absolute;
  font-size: 16px;
  opacity: 0;
  z-index: 10;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .btn_container #image-preview label,
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .btn_container #video-preview label {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0;
  padding: 16px 35px;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .input_container {
  margin-bottom: 30px;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .input_container .input_lable {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 8px;
  text-transform: lowercase;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .input_container .input_lable::first-letter {
  text-transform: uppercase;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .input_container input {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  width: 100%;
  border: 1px solid #e7e7e7;
  transition: border 0.3s ease-out;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .input_container input:focus {
  outline: none;
  border: 1px solid #bbbaba;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .photo_video_block .input_container input::placeholder {
  color: #a6a299;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container {
  margin-bottom: 30px;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container .input_lable {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 8px;
  text-transform: lowercase;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container .input_lable::first-letter {
  text-transform: uppercase;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container input {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  width: 100%;
  border: 1px solid #e7e7e7;
  transition: border 0.3s ease-out;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container input:focus {
  outline: none;
  border: 1px solid #bbbaba;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container input::placeholder {
  color: #a6a299;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container textarea {
  width: 100%;
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  resize: vertical;
  border: 1px solid #e7e7e7;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container textarea:focus {
  outline: none;
  border: 1px solid #bbbaba;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container .styled-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #e7e7e7;
  width: 100%;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container .styled-select.active {
  background-color: #e7e7e7;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container .styled-select .styled {
  outline: none;
  height: 54px;
  text-align: center;
  border: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
  color: #201600;
  font-size: 16px;
  font-weight: 300;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container .styled-select .styled option {
  width: 100%;
  color: #201600;
  text-transform: lowercase;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container .styled-select .styled option::first-letter {
  text-transform: uppercase;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container .styled-select .styled option.not-removed {
  display: block !important;
}
#wrapper-product-info main .product_info_container .product_block .form_product_info .input_container .styled-select .styled option:disabled {
  color: #a6a299;
}
#wrapper-product-info main .product_info_container .product_block .btn_container {
  margin-bottom: 60px;
}
#wrapper-product-info main .product_info_container .product_block .btn_container .custom_btn {
  padding: 15px 43px;
  background-color: #201600;
  border: 1px solid #000;
  margin-right: 20px;
}
#wrapper-product-info main .product_info_container .product_block .btn_container .custom_btn span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
#wrapper-product-info main .product_info_container .product_block .block_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#wrapper-product-info main .product_info_container .product_block .block_title h1 {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
}
#wrapper-product-info main .product_info_container .product_block .block_title a img {
  width: 18px;
  height: 18px;
}
#wrapper-product-info main .product_info_container .product_block .psw_container .input_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  position: relative;
}
#wrapper-product-info main .product_info_container .product_block .psw_container .input_container input {
  color: #201600;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  width: 100%;
  border: 1px solid #e7e7e7;
  margin-right: 30px;
  transition: border 0.3s ease-out;
}
#wrapper-product-info main .product_info_container .product_block .psw_container .input_container input:focus {
  outline: none;
  border: 1px solid #bbbaba;
}
#wrapper-product-info main .product_info_container .product_block .psw_container .input_container input::placeholder {
  color: #a6a299;
}
#wrapper-product-info main .product_info_container .product_block .psw_container .input_container .styled-select {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  width: 100%;
  padding: 0 10px;
  z-index: 1;
}
#wrapper-product-info main .product_info_container .product_block .psw_container .input_container a {
  position: absolute;
  top: -3px;
  right: 30px;
  z-index: 10;
}
#wrapper-product-info main .product_info_container .product_block .psw_container .input_container a img {
  width: 15px;
}
#wrapper-product-info main .product_info_container .product_block .psw_container .input_container .styled-select .styled {
  -webkit-appearance: none;
  outline: none;
  height: 54px;
  text-align: center;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  color: #201600;
  font-size: 16px;
  font-weight: 300;
}
#wrapper-product-info main .product_info_container .product_block .psw_container .input_container .styled-select .styled option {
  width: 100%;
  color: #201600;
}
#wrapper-product-info main .product_info_container .product_block .psw_container .input_container .styled-select .styled option:disabled {
  color: #a6a299;
}
#wrapper-reviews main .section_main .table_container table tbody tr th {
  padding: 30px 0;
}
#wrapper-reviews main .section_main .table_container table tbody tr th .order_button .detailed_block {
  bottom: -70px;
}
#wrapper-reviews main .section_main .table_container table tbody tr th:nth-child(1) {
  width: 37.5%;
}
#wrapper-reviews main .section_main .table_container table tbody tr th:nth-child(1) p {
  padding-right: 20px;
}
#wrapper-reviews main .section_main .table_container table tbody tr th:nth-child(2) {
  width: 18.5%;
}
#wrapper-reviews main .section_main .table_container table tbody tr th:nth-child(3) {
  width: 14.5%;
}
#wrapper-reviews main .section_main .table_container table tbody tr th:nth-child(4) {
  width: 18.5%;
}
#wrapper-reviews main .section_main .table_container table tbody tr th:nth-child(5) {
  width: 11%;
}